# EDA Assignment - Credit Score

In [1]:
# load libraries
import pandas as pd
import numpy as np

In [2]:
# read file using read_csv function

df = pd.read_csv('./credit-score.csv')
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [3]:
# number of rows and columns
df.shape

(50000, 27)

In [4]:
# summary of the data: column names, total no.of non-null values, data types, memory usage
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [5]:
# summary statistics for numeric data types
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

In [6]:
# summary statistics for object data types
df.describe(include=['O'])

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Num_of_Loan,Type_of_Loan,Num_of_Delayed_Payment,Changed_Credit_Limit,Credit_Mix,Outstanding_Debt,Credit_History_Age,Payment_of_Min_Amount,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
count,50000,50000,50000,44985,50000,50000,50000,50000,50000,44296,46502,50000,50000,50000,45530,50000,47729,50000,49438
unique,50000,12500,4,10139,976,12501,16,16121,263,6260,443,3927,4,12685,399,3,45450,7,49433
top,0x160a,CUS_0xd40,September,Stevex,39,#F%$D@*&8,_______,109945.32,2,Not Specified,19,_,Standard,1109.03,20 Years and 1 Months,Yes,__10000__,Low_spent_Small_value_payments,__-333333333333333333333333333__
freq,1,4,12500,22,1493,2828,3438,8,7173,704,2622,1059,18379,12,254,26158,2175,12694,6

In [7]:
# count of duplicate rows
df[df.duplicated()].shape

(0, 27)

In [8]:
df['Credit_Mix'].isna().sum()

0

## Detect strange values apart from the NaN Values

In [9]:
object_col = df.describe(include='O').columns
object_col

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Num_of_Loan', 'Type_of_Loan',
       'Num_of_Delayed_Payment', 'Changed_Credit_Limit', 'Credit_Mix',
       'Outstanding_Debt', 'Credit_History_Age', 'Payment_of_Min_Amount',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [10]:
for col in object_col:
    print('Column Name: '+col)
    print("**"*20)
    print(df[col].value_counts(dropna=False))
    print('END', "--"*18, '\n')

Column Name: ID
****************************************
ID
0x160a     1
0x19cd8    1
0x19c9a    1
0x19c9b    1
0x19c9c    1
          ..
0xd95e     1
0xd95f     1
0xd960     1
0xd961     1
0x25ff1    1
Name: count, Length: 50000, dtype: int64
END ------------------------------------

Column Name: Customer_ID
****************************************
Customer_ID
CUS_0xd40     4
CUS_0x9bf4    4
CUS_0x5ae3    4
CUS_0xbe9a    4
CUS_0x4874    4
             ..
CUS_0x2eb4    4
CUS_0x7863    4
CUS_0x9d89    4
CUS_0xc045    4
CUS_0x942c    4
Name: count, Length: 12500, dtype: int64
END ------------------------------------

Column Name: Month
****************************************
Month
September    12500
October      12500
November     12500
December     12500
Name: count, dtype: int64
END ------------------------------------

Column Name: Name
****************************************
Name
NaN                   5015
Stevex                  22
Langep                  21
Deepa Seetharamanm      20
Nicko                   20
                      ...
Nicolaq                  1
Alexei Oreskovicn        1
Herbert Lashx            1
Sarah N.y                1
Timf                     1
Name: count, Length: 10140, dtype: int64
END ------------------------------------

Column Name: Age
****************************************
Age
39      1493
32      1440
44      1428
22      1422
35      1414
        ...
437        1
1419       1
120        1
2552       1
4975       1
Name: count, Length: 976, dtype: int64
END ------------------------------------

Column Name: SSN
****************************************
SSN
#F%$D@*&8      2828
821-00-0265       4
756-60-6274       4
089-19-7596       4
905-14-5788       4
               ...
332-96-0334       1
611-21-4406       1
326-89-0421       1
789-15-7049       1
715-49-4883       1
Name: count, Length: 12501, dtype: int64
END ------------------------------------

Column Name: Occupation
****************************************
Occupation
_______          3438
Lawyer           3324
Engineer         3212
Architect        3195
Mechanic         3168
Developer        3146
Accountant       3133
Media_Manager    3130
Scientist        3104
Teacher          3103
Entrepreneur     3103
Journalist       3037
Doctor           3027
Manager          3000
Musician         2947
Writer           2933
Name: count, dtype: int64
END ------------------------------------

Column Name: Annual_Income
****************************************
Annual_Income
109945.32    8
17816.75     8
95596.35     8
72524.2      8
9141.63      8
            ..
28056.94_    1
28286.24_    1
1716646.0    1
10622.485    1
62160.87_    1
Name: count, Length: 16121, dtype: int64
END ------------------------------------

Column Name: Num_of_Loan
****************************************
Num_of_Loan
2        7173
3        7114
4        6982
0        5163
1        5029
         ...
621         1
1040        1
1496        1
570         1
1296_       1
Name: count, Length: 263, dtype: int64
END ------------------------------------

Column Name: Type_of_Loan
****************************************
Type_of_Loan
NaN                                                                                                                                   5704
Not Specified                                                                                                                          704
Credit-Builder Loan                                                                                                                    640
Personal Loan                                                                                                                          636
Debt Consolidation Loan                                                                                                                632
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                 4
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                    4
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                        4
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan       4
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                  4
Name: count, Length: 6261, dtype: int64
END ------------------------------------

Column Name: Num_of_Delayed_Payment
****************************************
Num_of_Delayed_Payment
NaN     3498
19      2622
15      2594
18      2570
16      2548
        ...
288        1
3556       1
3393       1
4351       1
2034       1
Name: count, Length: 444, dtype: int64
END ------------------------------------

Column Name: Changed_Credit_Limit
****************************************
Changed_Credit_Limit
_                      1059
11.5                     70
11.32                    63
7.01                     60
7.35                     60
                       ...
-0.6099999999999999       1
21.61                     1
12.010000000000002        1
0.43000000000000016       1
29.17                     1
Name: count, Length: 3927, dtype: int64
END ------------------------------------

Column Name: Credit_Mix
****************************************
Credit_Mix
Standard    18379
Good        12260
_            9805
Bad          9556
Name: count, dtype: int64
END ------------------------------------

Column Name: Outstanding_Debt
****************************************
Outstanding_Debt
1109.03     12
1360.45     12
460.46      12
1151.7      12
1319.87      8
            ..
1443.78_     1
3534.9_      1
4320.49_     1
2982.66_     1
3223.66_     1
Name: count, Length: 12685, dtype: int64
END ------------------------------------

Column Name: Credit_History_Age
****************************************
Credit_History_Age
NaN                       4470
20 Years and 1 Months      254
16 Years and 1 Months      254
19 Years and 7 Months      252
18 Years and 7 Months      252
                          ...
4 Years and 5 Months        21
0 Years and 11 Months       16
33 Years and 11 Months      15
34 Years and 0 Months       14
0 Years and 10 Months       13
Name: count, Length: 400, dtype: int64
END ------------------------------------

Column Name: Payment_of_Min_Amount
****************************************
Payment_of_Min_Amount
Yes    26158
No     17849
NM      5993
Name: count, dtype: int64
END ------------------------------------

Column Name: Amount_invested_monthly
****************************************
Amount_invested_monthly
NaN                   2271
__10000__             2175
0.0                    106
75.97604257809586        1
320.4566446914704        1
                      ...
197.2171314766754        1
366.23148415217315       1
34.89940643392877        1
256.90830529853173       1
220.45787812168732       1
Name: count, Length: 45451, dtype: int64
END ------------------------------------

Column Name: Payment_Behaviour
****************************************
Payment_Behaviour
Low_spent_Small_value_payments      12694
High_spent_Medium_value_payments     8922
High_spent_Large_value_payments      6844
Low_spent_Medium_value_payments      6837
High_spent_Small_value_payments      5651
Low_spent_Large_value_payments       5252
!@9#%8                               3800
Name: count, dtype: int64
END ------------------------------------

Column Name: Monthly_Balance
****************************************
Monthly_Balance
NaN                                 562
__-333333333333333333333333333__      6
186.26670208571772                    1
449.82938730504236                    1
389.53754307843735                    1
                                   ...
421.25686767906984                    1
194.44026842190848                    1
299.957837924029                      1
375.897928536186                      1
360.37968260123847                    1
Name: count, Length: 49434, dtype: int64
END ------------------------------------

In [11]:
df['Name'] = df.groupby('Customer_ID')['Name'].transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else "Unknown"))
df[df['Name'] == 'Unknown']['Name'].value_counts()

Name
Unknown    4
Name: count, dtype: int64

In [12]:
# golbal function to remove UNDERSCORE
def func_remove_underscore(strValue):
    value = str(strValue).replace('_', '')

    if value != '':
        return value
    else:
        return np.nan

In [13]:
# golbal function to convert STRING value to INT or FLOAT else return NaN
def func_convert_string_to_int_or_float(strValue, flag):
    if (strValue == 'nan'):
        return np.nan
    
    if (strValue != '') and (False == pd.isna(strValue)) and (flag == 1):
        strValue = int(strValue)
        if strValue < 0:
            strValue = strValue * -1

        return strValue
    elif (strValue != '') and (False == pd.isna(strValue)) and (flag == 2):
        strValue = float(strValue)
        if strValue < 0.00:
            strValue = strValue * -1

        return strValue
    else:
        return np.nan

In [14]:
df['Age'] = df['Age'].apply(func_remove_underscore)

In [15]:
df['Age'] = df['Age'].apply(lambda x: func_convert_string_to_int_or_float(x, 1))

In [16]:
df['Age'].unique()

array([  23,   24,   28,   35,   55,   22,   31,   32, 1694,   34,   30,
        914,   45,   41,   33,   36,   39,   40,   37,   21,   46,   26,
         27,   42,   20,   48,   49,   38,   44,  500,   16,   17,   19,
       3193,   43,  339,   14,   15,   25, 1203, 2823,   18,   47, 1643,
       8327,   29,   53,   56, 6586, 7014, 3391,   54, 3765, 4472,   50,
       4022, 4576,   51,   52, 3355, 8034, 4610, 7860, 2526, 3263, 4885,
        694, 8288, 8404,  451, 3168, 5172, 8214, 4946, 3127, 7018, 2950,
       7676, 5502, 4133, 2083, 3752, 2970, 7721, 4806, 5426, 4787, 4390,
       3218, 6000,  538, 7319, 5530, 6838, 2069, 8337, 2532, 1587, 7749,
       5255, 5532, 7045, 1950, 5333, 2077, 1844, 2954, 4329, 1919, 8449,
       7237, 5061, 2695, 3287, 7507, 4556, 5092, 6978, 8497, 3712,  693,
       3922, 6097, 3527, 7836, 5165, 7849,  327, 6317, 3930, 2193, 7222,
        505, 7261, 6205,  942, 7260, 2002, 3984, 6678, 4763, 4954, 5720,
       6965, 3482, 6099, 5029, 1804, 7470,  676, 5733, 7005, 1631, 4204,
        835, 2585,  492, 1193, 3759, 2485, 4305, 2902, 2082, 6798, 5488,
       5546, 8001, 8641, 6439, 8481, 6558, 6866, 2049, 3981, 6659,  171,
       7461, 5410, 2383, 4873, 2231, 4741, 5205, 6248,   95, 6966, 3485,
        536, 5760, 5104, 3876, 5621, 2104, 5549, 2404, 4943,  225, 3600,
       2750,  601, 1566, 2969, 5018, 3993, 6744, 4385, 4949, 3731, 3528,
       6296, 1705, 8427, 5203, 5609, 7340, 7978, 4520, 3277, 7084, 6924,
       4446, 6546, 4687, 6473, 8439, 6401, 1167, 2087, 7437, 2739, 3576,
       3207, 7964, 4265, 6409, 1417, 6841, 7052,  452, 1330, 6437,  619,
       1956,  133, 4851,  830, 2511, 7904, 1342, 3452, 5619, 3030, 2582,
       6080, 7563, 7424, 3842, 2870, 6290, 1659, 6647, 7389, 1046, 1793,
       3797, 2815, 4066, 6394, 3211, 3822, 8450,  927, 4435, 6282, 3516,
       1750, 6718, 7449, 2905, 6760, 1913, 8639,  458, 2569, 1660, 2257,
       3369, 1882, 8198, 2443, 3072, 2563, 5264, 2812, 5548, 8086, 6076,
       6792, 5026, 4202, 3412, 1147, 3868, 3553,  453, 8629, 7702, 5863,
       8502, 2320, 6807, 8536, 2341, 4451, 6535, 2811, 1542, 8245,  782,
       7104, 4654, 6804, 5456, 2848,  415, 7184, 7754, 3007, 7774, 5316,
       7409, 2336, 8263, 3062, 2587, 2926, 3044, 1472, 8200, 4114, 5113,
       7021, 8213, 3577, 6125, 7408, 1916,  368, 7533, 2831, 8500, 4304,
       6868, 6695,  281, 5994, 5254, 3744, 7832, 4934, 2059,  437, 1419,
        120, 2552, 2698,  410, 4955, 4399, 7043, 5227, 4968, 3837,  727,
       1900, 5296, 7590, 3020, 7190, 1986, 1672, 5700, 1473, 6447,  527,
       3883, 8019, 8631, 6400, 4079, 1530, 8590, 2216, 5084, 7234, 5145,
       8118, 6445, 2413, 3803,  182,  863, 2367, 4179, 1141, 2436, 6137,
       1187, 4938, 7554, 6126, 3423, 8464, 4521, 5148, 5036, 8432, 4287,
       6470, 4807, 2544, 7707, 3601, 1186, 7106, 6225, 1776, 7550, 3271,
       2042, 4443,  141, 7825, 1258,  615, 2856, 5935, 8342, 2322, 5552,
       2929,  948, 3342, 2299, 6754, 2461, 2389, 7028,  895, 5469,  744,
       6693,  644, 7946, 7148, 6174, 5576, 7753, 3046, 6286, 1195, 1104,
       5885, 4993, 8625, 8332, 3216, 6175, 8600, 8524, 5559, 7667,  829,
        551, 6453, 6385,  985, 4473, 1855, 7282, 5759, 3286, 3974, 2785,
       4142, 5987, 6900, 5592, 8311, 2816, 3212, 2607, 6392, 3118, 7044,
       2836,  516, 1583, 5129, 1379,  232, 4554, 5012, 4242, 1261, 7685,
       8083, 7961, 4223, 5238, 3376, 2319, 4694, 6153, 2711,  501,  925,
        842, 1238, 3108, 7183, 6986, 2053, 1153, 6026, 2787,  730, 7391,
       7909, 1977, 6967, 5309, 6141, 7542, 1845, 3904, 2362, 1018,  455,
       3877, 2036, 2117, 5447, 8188, 5236, 6150,  188, 3487,  331, 3891,
       5850, 2789, 8304, 4891, 6001, 2096, 1833, 7435, 7878, 2458, 8589,
       1662, 6957,  941, 6653, 1081, 7495, 6272, 8232, 3817, 7171, 1263,
       8254, 1734, 1124, 8647, 4187, 1222,  751, 1144, 5596, 6848, 7981,
       4575, 5744, 7431, 5890, 2583, 5784, 3085, 5078, 4426, 3122, 7144,
       1841, 3357, 8487, 7625, 4682, 8557, 4184, 7700,  679, 2286, 3136,
       3052, 3433,  498, 2211, 6424,  136, 8054, 2507, 4768, 7058, 7503,
       4817, 6197,  681, 4525, 3903, 2038, 2210, 5650, 1485, 5714, 5854,
       1034, 2022, 8395, 3089, 6384, 5159, 4927, 1667, 7525, 6515, 8688,
       2604, 6809, 4549, 3295, 8217, 5111, 1765, 8068, 8140, 3942, 5034,
       1857, 2928, 6411, 4698,  755, 7468, 6213, 1118, 7168,  358, 1218,
       4543,  996, 8302, 5731,  868, 1746, 2850,  165, 5133, 2599, 8305,
        771, 7780,  474, 3001,  997, 3908,  447, 4344, 7355, 2701, 5551,
       1614, 2472,  975, 4603,  557, 1210, 8049, 6037, 8055, 1676, 8632,
       8065, 6354,  321, 4986, 4936, 4636, 1782,  287, 8419, 7333,  775,
       3582, 6222, 6421, 6612, 3823, 2411, 4920,  270, 5883, 8071, 8271,
       1988,  402, 3474, 7926, 1952, 6873, 3076, 2663, 1197, 6243, 6475,
       6937, 2403, 2819,  413, 3080, 1315, 6654, 4321, 4340, 1058, 6621,
       8326, 2359, 2310, 7864, 3191, 1955, 4033, 8334, 3382, 7876, 5856,
       3513, 1220, 3915, 6667, 7334, 1415, 1445,  128, 7196, 7228,  425,
       5679, 6278,  274, 5471,  866, 8256, 5220, 5607, 2116, 3737, 2974,
       6083,  517, 6484, 3936, 5710, 7527, 1465, 4929, 4498, 2572,  743,
       7559, 2894,  319, 3362, 3252,  285, 1336, 3468, 3371, 5288, 5612,
       3084,  993, 6903, 3592, 2693, 5044,  243, 7114, 4595, 5892,  167,
        580, 5282, 3919, 2057, 7929, 7288, 4591, 2735,  155, 5780, 4561,
        989, 3360, 7229,  930, 7406,  299, 7958, 4790, 8596, 3291,  144,
       6031, 2678, 3093, 4781, 3858, 4531, 6732, 2753, 7351, 1949,  909,
       3339, 6715, 2616, 1764, 8300, 2314, 4453, 3056, 6391, 4013, 1395,
       8426, 4888, 6330, 3706, 4718, 2797, 7120, 5667,  542, 7300, 3573,
       4722, 1007, 7342,  831, 1953, 5501, 2934, 4373, 1499,  595, 1522,
       5797, 6176, 7265, 5428, 4697, 6094, 2166, 7314, 4024, 7520, 6133,
       3324, 6856, 6633, 3545, 7116, 6999, 1305, 6349, 5009, 3508, 4216,
       2849, 4896, 6188,  217,  707, 2298, 7239, 3814, 3728, 2779, 5213,
       6884, 7810, 5269, 1544, 4899, 7850, 7421, 8340, 3524,  470, 5038,
       6262, 7868, 3155, 1365, 6652, 2200, 1401, 8361,  459, 3054, 5586,
        326, 7910, 5826, 4975])

In [17]:
df['SSN'].value_counts(dropna=False)

SSN
#F%$D@*&8      2828
821-00-0265       4
756-60-6274       4
089-19-7596       4
905-14-5788       4
               ...
332-96-0334       1
611-21-4406       1
326-89-0421       1
789-15-7049       1
715-49-4883       1
Name: count, Length: 12501, dtype: int64

In [18]:
def func_clean_SSN(strValue):
    if strValue != '' and strValue == '#F%$D@*&8':
        return np.nan

    return strValue

In [19]:
df['SSN'] = df['SSN'].apply( func_clean_SSN )

In [20]:
df['SSN'].value_counts(dropna=False)

SSN
NaN            2828
821-00-0265       4
756-60-6274       4
089-19-7596       4
905-14-5788       4
               ...
332-96-0334       1
611-21-4406       1
326-89-0421       1
789-15-7049       1
715-49-4883       1
Name: count, Length: 12501, dtype: int64

In [21]:
df['Occupation'].value_counts()

Occupation
_______          3438
Lawyer           3324
Engineer         3212
Architect        3195
Mechanic         3168
Developer        3146
Accountant       3133
Media_Manager    3130
Scientist        3104
Teacher          3103
Entrepreneur     3103
Journalist       3037
Doctor           3027
Manager          3000
Musician         2947
Writer           2933
Name: count, dtype: int64

In [22]:
def func_clean_Occupation(strVal):
    if (strVal != '') and (False == pd.isna(strVal)) and (strVal == '_______'):
        return np.nan
    else:
        return strVal

In [23]:
df['Occupation'] = df['Occupation'].apply(func_clean_Occupation)

In [24]:
df['Annual_Income'] = df['Annual_Income'].apply(func_remove_underscore)

In [25]:
df['Annual_Income'] = df['Annual_Income'].apply(lambda x: func_convert_string_to_int_or_float(x, 2))

In [26]:
df['Annual_Income'].describe()

count    5.000000e+04
mean     1.663342e+05
std      1.351965e+06
min      7.005930e+03
25%      1.945333e+04
50%      3.757782e+04
75%      7.281702e+04
max      2.413726e+07
Name: Annual_Income, dtype: float64

In [27]:
df['Num_of_Loan'] = df['Num_of_Loan'].apply(func_remove_underscore)

In [28]:
df['Num_of_Loan'] = df['Num_of_Loan'].apply(lambda x: func_convert_string_to_int_or_float(x, 1))

In [29]:
df['Num_of_Loan'].describe()

count    50000.000000
mean        11.299360
std         65.483498
min          0.000000
25%          2.000000
50%          3.000000
75%          6.000000
max       1496.000000
Name: Num_of_Loan, dtype: float64

In [30]:
df['Type_of_Loan'].value_counts(dropna=False)

Type_of_Loan
NaN                                                                                                                                   5704
Not Specified                                                                                                                          704
Credit-Builder Loan                                                                                                                    640
Personal Loan                                                                                                                          636
Debt Consolidation Loan                                                                                                                632
                                                                                                                                      ...
Not Specified, Mortgage Loan, Auto Loan, and Payday Loan                                                                                 4
Payday Loan, Mortgage Loan, Debt Consolidation Loan, and Student Loan                                                                    4
Debt Consolidation Loan, Auto Loan, Personal Loan, Debt Consolidation Loan, Student Loan, and Credit-Builder Loan                        4
Student Loan, Auto Loan, Student Loan, Credit-Builder Loan, Home Equity Loan, Debt Consolidation Loan, and Debt Consolidation Loan       4
Personal Loan, Auto Loan, Mortgage Loan, Student Loan, and Student Loan                                                                  4
Name: count, Length: 6261, dtype: int64

In [31]:
df['Num_of_Delayed_Payment'].value_counts(dropna=False)

Num_of_Delayed_Payment
NaN     3498
19      2622
15      2594
18      2570
16      2548
        ...
288        1
3556       1
3393       1
4351       1
2034       1
Name: count, Length: 444, dtype: int64

In [32]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(func_remove_underscore)

In [33]:
df['Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].apply(lambda x: func_convert_string_to_int_or_float(x, 1))

In [34]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(func_remove_underscore)

In [35]:
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].apply(lambda x: func_convert_string_to_int_or_float(x, 2))

In [36]:
df['Changed_Credit_Limit'].isna().sum()

1059

In [37]:
df['Credit_Mix'].unique()

array(['Good', '_', 'Standard', 'Bad'], dtype=object)

In [38]:
df['Credit_Mix'] = df['Credit_Mix'].apply(func_remove_underscore)

In [39]:
df['Credit_Mix'].isna().sum()

9805

In [40]:
df['Outstanding_Debt'].describe()

count       50000
unique      12685
top       1109.03
freq           12
Name: Outstanding_Debt, dtype: object

In [41]:
df['Outstanding_Debt'] = df['Outstanding_Debt'].apply(func_remove_underscore)

In [42]:
df['Outstanding_Debt'] = df['Outstanding_Debt'].apply(lambda x: func_convert_string_to_int_or_float(x, 2))

In [43]:
df['Credit_History_Age'].isna().sum()

4470

In [44]:
df['Credit_History_Age'].unique()

array(['22 Years and 9 Months', '22 Years and 10 Months', nan,
       '23 Years and 0 Months', '27 Years and 3 Months',
       '27 Years and 4 Months', '27 Years and 5 Months',
       '27 Years and 6 Months', '18 Years and 5 Months',
       '18 Years and 6 Months', '18 Years and 7 Months',
       '17 Years and 11 Months', '18 Years and 0 Months',
       '18 Years and 1 Months', '18 Years and 2 Months',
       '31 Years and 4 Months', '31 Years and 5 Months',
       '31 Years and 7 Months', '32 Years and 7 Months',
       '32 Years and 8 Months', '32 Years and 9 Months',
       '32 Years and 10 Months', '31 Years and 6 Months',
       '15 Years and 3 Months', '15 Years and 4 Months',
       '15 Years and 5 Months', '15 Years and 6 Months',
       '22 Years and 0 Months', '22 Years and 1 Months',
       '22 Years and 2 Months', '22 Years and 3 Months',
       '27 Years and 1 Months', '27 Years and 2 Months',
       '19 Years and 10 Months', '19 Years and 11 Months',
       '20 Years and 0 Months', '26 Years and 2 Months',
       '26 Years and 3 Months', '26 Years and 4 Months',
       '27 Years and 7 Months', '27 Years and 8 Months',
       '27 Years and 9 Months', '9 Years and 7 Months',
       '9 Years and 8 Months', '9 Years and 9 Months',
       '9 Years and 10 Months', '18 Years and 10 Months',
       '18 Years and 11 Months', '19 Years and 0 Months',
       '19 Years and 1 Months', '17 Years and 6 Months',
       '17 Years and 7 Months', '17 Years and 8 Months',
       '17 Years and 9 Months', '29 Years and 10 Months',
       '29 Years and 11 Months', '30 Years and 0 Months',
       '30 Years and 1 Months', '7 Years and 1 Months',
       '7 Years and 2 Months', '7 Years and 3 Months',
       '27 Years and 10 Months', '27 Years and 11 Months',
       '28 Years and 0 Months', '28 Years and 1 Months',
       '20 Years and 1 Months', '20 Years and 2 Months',
       '10 Years and 9 Months', '10 Years and 10 Months',
       '10 Years and 11 Months', '11 Years and 0 Months',
       '33 Years and 5 Months', '33 Years and 6 Months',
       '33 Years and 7 Months', '33 Years and 8 Months',
       '12 Years and 11 Months', '13 Years and 0 Months',
       '13 Years and 1 Months', '13 Years and 2 Months',
       '12 Years and 10 Months', '18 Years and 8 Months',
       '18 Years and 9 Months', '14 Years and 4 Months',
       '14 Years and 5 Months', '14 Years and 6 Months',
       '14 Years and 7 Months', '30 Years and 11 Months',
       '31 Years and 0 Months', '31 Years and 1 Months',
       '31 Years and 2 Months', '9 Years and 4 Months',
       '9 Years and 6 Months', '19 Years and 2 Months',
       '19 Years and 5 Months', '19 Years and 6 Months',
       '19 Years and 7 Months', '19 Years and 8 Months',
       '9 Years and 5 Months', '13 Years and 9 Months',
       '13 Years and 10 Months', '13 Years and 11 Months',
       '22 Years and 4 Months', '26 Years and 6 Months',
       '14 Years and 0 Months', '14 Years and 1 Months',
       '28 Years and 7 Months', '28 Years and 8 Months',
       '28 Years and 9 Months', '28 Years and 10 Months',
       '8 Years and 7 Months', '8 Years and 8 Months',
       '8 Years and 9 Months', '24 Years and 11 Months',
       '25 Years and 0 Months', '25 Years and 1 Months',
       '25 Years and 2 Months', '17 Years and 10 Months',
       '1 Years and 10 Months', '1 Years and 11 Months',
       '2 Years and 0 Months', '2 Years and 1 Months',
       '11 Years and 7 Months', '11 Years and 8 Months',
       '11 Years and 9 Months', '11 Years and 10 Months',
       '31 Years and 3 Months', '20 Years and 3 Months',
       '20 Years and 4 Months', '20 Years and 5 Months',
       '20 Years and 6 Months', '11 Years and 1 Months',
       '11 Years and 2 Months', '11 Years and 3 Months',
       '11 Years and 4 Months', '14 Years and 8 Months',
       '14 Years and 9 Months', '14 Years and 10 Months',
       '21 Years and 4 Months', '21 Years and 5 Months',
       '21 Years and 6 Months', '21 Years and 7 Months',
       '1 Years and 0 Months', '1 Years and 1 Months',
       '1 Years and 2 Months', '1 Years and 3 Months',
       '32 Years and 4 Months', '32 Years and 5 Months',
       '32 Years and 6 Months', '13 Years and 3 Months',
       '13 Years and 4 Months', '13 Years and 5 Months',
       '13 Years and 6 Months', '28 Years and 2 Months',
       '12 Years and 0 Months', '12 Years and 1 Months',
       '12 Years and 2 Months', '12 Years and 3 Months',
       '25 Years and 4 Months', '25 Years and 5 Months',
       '25 Years and 6 Months', '25 Years and 7 Months',
       '18 Years and 3 Months', '18 Years and 4 Months',
       '13 Years and 7 Months', '19 Years and 9 Months',
       '31 Years and 9 Months', '31 Years and 10 Months',
       '31 Years and 11 Months', '32 Years and 0 Months',
       '5 Years and 10 Months', '5 Years and 11 Months',
       '6 Years and 0 Months', '6 Years and 1 Months',
       '3 Years and 7 Months', '3 Years and 8 Months',
       '3 Years and 9 Months', '3 Years and 10 Months',
       '17 Years and 1 Months', '17 Years and 2 Months',
       '17 Years and 3 Months', '23 Years and 7 Months',
       '23 Years and 8 Months', '23 Years and 9 Months',
       '23 Years and 10 Months', '9 Years and 0 Months',
       '9 Years and 2 Months', '9 Years and 3 Months',
       '31 Years and 8 Months', '5 Years and 1 Months',
       '5 Years and 2 Months', '5 Years and 3 Months',
       '5 Years and 4 Months', '33 Years and 4 Months',
       '13 Years and 8 Months', '30 Years and 5 Months',
       '30 Years and 6 Months', '30 Years and 7 Months',
       '30 Years and 8 Months', '26 Years and 5 Months',
       '33 Years and 9 Months', '26 Years and 10 Months',
       '26 Years and 11 Months', '27 Years and 0 Months',
       '8 Years and 1 Months', '8 Years and 2 Months',
       '8 Years and 3 Months', '8 Years and 4 Months',
       '28 Years and 11 Months', '29 Years and 0 Months',
       '29 Years and 1 Months', '29 Years and 2 Months',
       '20 Years and 7 Months', '20 Years and 8 Months',
       '20 Years and 9 Months', '20 Years and 10 Months',
       '20 Years and 11 Months', '21 Years and 0 Months',
       '29 Years and 3 Months', '29 Years and 4 Months',
       '29 Years and 5 Months', '29 Years and 6 Months',
       '14 Years and 2 Months', '14 Years and 3 Months',
       '2 Years and 2 Months', '2 Years and 3 Months',
       '33 Years and 10 Months', '33 Years and 11 Months',
       '34 Years and 0 Months', '26 Years and 7 Months',
       '26 Years and 8 Months', '29 Years and 7 Months',
       '29 Years and 8 Months', '5 Years and 5 Months',
       '5 Years and 6 Months', '5 Years and 7 Months',
       '5 Years and 8 Months', '32 Years and 3 Months',
       '6 Years and 5 Months', '6 Years and 6 Months',
       '6 Years and 7 Months', '6 Years and 8 Months',
       '23 Years and 1 Months', '23 Years and 2 Months',
       '23 Years and 3 Months', '17 Years and 0 Months',
       '23 Years and 5 Months', '23 Years and 6 Months',
       '22 Years and 5 Months', '22 Years and 6 Months',
       '21 Years and 1 Months', '16 Years and 0 Months',
       '16 Years and 1 Months', '16 Years and 2 Months',
       '16 Years and 3 Months', '21 Years and 2 Months',
       '2 Years and 11 Months', '3 Years and 0 Months',
       '3 Years and 1 Months', '3 Years and 2 Months',
       '5 Years and 9 Months', '2 Years and 4 Months',
       '16 Years and 10 Months', '16 Years and 11 Months',
       '22 Years and 11 Months', '9 Years and 11 Months',
       '10 Years and 0 Months', '10 Years and 1 Months',
       '28 Years and 4 Months', '28 Years and 5 Months',
       '28 Years and 6 Months', '19 Years and 3 Months',
       '25 Years and 3 Months', '8 Years and 10 Months',
       '6 Years and 3 Months', '6 Years and 4 Months',
       '17 Years and 4 Months', '17 Years and 5 Months',
       '12 Years and 5 Months', '12 Years and 6 Months',
       '12 Years and 7 Months', '12 Years and 8 Months',
       '26 Years and 9 Months', '29 Years and 9 Months',
       '32 Years and 1 Months', '32 Years and 2 Months',
       '21 Years and 10 Months', '21 Years and 11 Months',
       '24 Years and 10 Months', '16 Years and 6 Months',
       '16 Years and 7 Months', '16 Years and 8 Months',
       '16 Years and 9 Months', '15 Years and 1 Months',
       '15 Years and 2 Months', '23 Years and 11 Months',
       '24 Years and 0 Months', '25 Years and 10 Months',
       '25 Years and 11 Months', '26 Years and 0 Months',
       '26 Years and 1 Months', '8 Years and 11 Months',
       '19 Years and 4 Months', '6 Years and 2 Months',
       '25 Years and 8 Months', '25 Years and 9 Months',
       '15 Years and 11 Months', '8 Years and 5 Months',
       '8 Years and 6 Months', '7 Years and 6 Months',
       '7 Years and 7 Months', '7 Years and 8 Months',
       '7 Years and 9 Months', '16 Years and 4 Months',
       '16 Years and 5 Months', '24 Years and 1 Months',
       '22 Years and 7 Months', '15 Years and 7 Months',
       '15 Years and 8 Months', '15 Years and 9 Months',
       '21 Years and 8 Months', '21 Years and 9 Months',
       '30 Years and 9 Months', '7 Years and 11 Months',
       '8 Years and 0 Months', '10 Years and 5 Months',
       '10 Years and 6 Months', '10 Years and 7 Months',
       '10 Years and 8 Months', '9 Years and 1 Months',
       '24 Years and 4 Months', '24 Years and 5 Months',
       '24 Years and 6 Months', '24 Years and 7 Months',
       '3 Years and 4 Months', '3 Years and 5 Months',
       '15 Years and 0 Months', '10 Years and 2 Months',
       '12 Years and 4 Months', '24 Years and 3 Months',
       '28 Years and 3 Months', '6 Years and 9 Months',
       '6 Years and 10 Months', '0 Years and 10 Months',
       '10 Years and 3 Months', '12 Years and 9 Months',
       '30 Years and 2 Months', '30 Years and 4 Months',
       '30 Years and 3 Months', '0 Years and 11 Months',
       '11 Years and 6 Months', '7 Years and 10 Months',
       '10 Years and 4 Months', '4 Years and 0 Months',
       '32 Years and 11 Months', '33 Years and 0 Months',
       '21 Years and 3 Months', '30 Years and 10 Months',
       '23 Years and 4 Months', '3 Years and 11 Months',
       '4 Years and 1 Months', '4 Years and 2 Months',
       '6 Years and 11 Months', '7 Years and 0 Months',
       '11 Years and 5 Months', '15 Years and 10 Months',
       '11 Years and 11 Months', '14 Years and 11 Months',
       '22 Years and 8 Months', '1 Years and 6 Months',
       '1 Years and 7 Months', '1 Years and 8 Months',
       '1 Years and 9 Months', '24 Years and 9 Months',
       '5 Years and 0 Months', '7 Years and 4 Months',
       '4 Years and 7 Months', '4 Years and 8 Months',
       '4 Years and 9 Months', '4 Years and 10 Months',
       '7 Years and 5 Months', '2 Years and 5 Months',
       '2 Years and 7 Months', '2 Years and 8 Months',
       '2 Years and 6 Months', '24 Years and 2 Months',
       '33 Years and 1 Months', '33 Years and 2 Months',
       '1 Years and 4 Months', '1 Years and 5 Months',
       '24 Years and 8 Months', '4 Years and 3 Months',
       '4 Years and 4 Months', '2 Years and 9 Months',
       '2 Years and 10 Months', '3 Years and 3 Months',
       '4 Years and 5 Months', '4 Years and 11 Months',
       '33 Years and 3 Months', '3 Years and 6 Months',
       '4 Years and 6 Months'], dtype=object)

In [45]:
df['Payment_of_Min_Amount'].value_counts(dropna=False)

Payment_of_Min_Amount
Yes    26158
No     17849
NM      5993
Name: count, dtype: int64

In [46]:
df['Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].apply(lambda x: x if x != 'NM' else np.nan)

In [47]:
df['Amount_invested_monthly'].isna().sum()

2271

In [48]:
df[df['Amount_invested_monthly'] ==10000]['Amount_invested_monthly'].value_counts()

Series([], Name: count, dtype: int64)

In [49]:
df['Amount_invested_monthly'].describe()

count         47729
unique        45450
top       __10000__
freq           2175
Name: Amount_invested_monthly, dtype: object

In [50]:
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].apply(func_remove_underscore)

In [51]:
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].apply(lambda x: func_convert_string_to_int_or_float(x, 2))

In [52]:
df['Payment_Behaviour'].value_counts(dropna=False)

Payment_Behaviour
Low_spent_Small_value_payments      12694
High_spent_Medium_value_payments     8922
High_spent_Large_value_payments      6844
Low_spent_Medium_value_payments      6837
High_spent_Small_value_payments      5651
Low_spent_Large_value_payments       5252
!@9#%8                               3800
Name: count, dtype: int64

In [53]:
df['Payment_Behaviour'] = df['Payment_Behaviour'].apply(lambda x: x if x != '!@9#%8' else np.nan)

In [54]:
df['Monthly_Balance'].describe()

count                                49438
unique                               49433
top       __-333333333333333333333333333__
freq                                     6
Name: Monthly_Balance, dtype: object

In [55]:
df['Monthly_Balance'] = df['Monthly_Balance'].apply(func_remove_underscore)

In [56]:
df['Monthly_Balance'] = df['Monthly_Balance'].apply(lambda x: func_convert_string_to_int_or_float(x, 2))

In [57]:
object_col1 = df.describe(include='O').columns
object_col1

Index(['ID', 'Customer_ID', 'Month', 'Name', 'SSN', 'Occupation',
       'Type_of_Loan', 'Credit_Mix', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Payment_Behaviour'],
      dtype='object')

In [58]:
df.sample(5)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
47229,0x23f7f,CUS_0x8fdd,October,Thomasf,44,303-19-1557,NaN,74538.87,NaN,8,...,7.0,Standard,1433.43,27.827616,22 Years and 5 Months,No,0.000000,75.704521,High_spent_Large_value_payments,792.352729
44585,0x22083,CUS_0x2e06,October,Tarmo Virkih,30,412-24-8689,Lawyer,40113.08,3086.756667,3,...,5.0,NaN,25.78,24.863505,20 Years and 11 Months,No,76.335329,60.493046,High_spent_Medium_value_payments,421.847292
42203,0x20495,CUS_0x1098,December,Krudyz,319,466-10-5742,Musician,20652.98,1468.081667,7,...,12.0,Standard,1859.53,30.329343,19 Years and 3 Months,Yes,33.238356,101.016670,High_spent_Small_value_payments,272.553141
17027,0xdd8d,CUS_0xc23c,December,Chungl,39,034-97-5921,Media_Manager,16647.05,1097.254167,10,...,15.0,NaN,3694.86,38.257066,5 Years and 1 Months,Yes,67.450247,139.038195,Low_spent_Small_value_payments,193.236975
3152,0x3afa,CUS_0x74d5,September,Mortimerz,26,432-94-4099,Lawyer,20821.80,NaN,5,...,8.0,Good,1485.97,27.779299,27 Years and 5 Months,No,21.189697,227.912140,Low_spent_Small_value_payments,241.913163

In [59]:
df['Num_of_Delayed_Payment'].isna().sum()

3498

In [60]:
df['Num_of_Delayed_Payment'].unique()

array([7.000e+00, 9.000e+00, 4.000e+00, 5.000e+00, 1.000e+00, 3.000e+00,
             nan, 2.000e+00, 1.942e+03, 6.000e+00, 8.000e+00, 1.500e+01,
       1.800e+01, 0.000e+00, 1.400e+01, 1.700e+01, 1.200e+01, 1.100e+01,
       1.900e+01, 2.000e+01, 1.000e+01, 1.300e+01, 1.150e+03, 2.200e+01,
       2.300e+01, 2.100e+01, 2.077e+03, 1.600e+01, 2.400e+01, 2.700e+01,
       2.500e+01, 2.100e+02, 1.314e+03, 4.290e+02, 7.590e+02, 2.806e+03,
       2.849e+03, 2.465e+03, 4.246e+03, 1.186e+03, 7.500e+01, 2.600e+01,
       1.134e+03, 2.800e+01, 1.230e+03, 4.318e+03, 4.219e+03, 1.216e+03,
       1.491e+03, 1.591e+03, 3.552e+03, 3.667e+03, 4.200e+02, 2.606e+03,
       1.860e+02, 9.590e+02, 1.122e+03, 3.178e+03, 1.884e+03, 1.551e+03,
       3.472e+03, 3.398e+03, 1.486e+03, 4.128e+03, 3.510e+02, 4.086e+03,
       8.610e+02, 5.860e+02, 8.730e+02, 3.948e+03, 2.801e+03, 2.503e+03,
       3.627e+03, 3.825e+03, 3.954e+03, 3.760e+02, 2.354e+03, 4.343e+03,
       2.279e+03, 3.910e+02, 1.334e+03, 1.958e+03, 2.608e+03, 4.560e+02,
       1.274e+03, 4.520e+02, 2.270e+02, 8.450e+02, 3.097e+03, 2.730e+03,
       2.161e+03, 3.770e+02, 7.620e+02, 1.131e+03, 2.649e+03, 4.161e+03,
       1.544e+03, 4.136e+03, 1.377e+03, 2.412e+03, 3.508e+03, 3.429e+03,
       9.750e+02, 2.110e+02, 5.180e+02, 6.570e+02, 3.477e+03, 3.700e+02,
       1.234e+03, 1.534e+03, 1.080e+03, 3.057e+03, 1.065e+03, 2.819e+03,
       2.583e+03, 2.497e+03, 3.479e+03, 1.329e+03, 3.689e+03, 2.273e+03,
       3.083e+03, 2.403e+03, 1.266e+03, 3.684e+03, 4.106e+03, 6.970e+02,
       3.243e+03, 1.802e+03, 1.880e+03, 1.810e+02, 3.591e+03, 2.912e+03,
       1.356e+03, 1.117e+03, 2.672e+03, 2.001e+03, 4.298e+03, 5.900e+02,
       1.095e+03, 1.562e+03, 1.000e+02, 1.355e+03, 1.235e+03, 3.177e+03,
       2.276e+03, 4.335e+03, 2.822e+03, 1.035e+03, 8.320e+02, 3.529e+03,
       2.942e+03, 2.802e+03, 4.351e+03, 5.490e+02, 3.393e+03, 3.556e+03,
       2.880e+02, 1.146e+03, 2.424e+03, 3.450e+02, 2.269e+03, 2.650e+02,
       1.790e+02, 1.513e+03, 4.118e+03, 3.071e+03, 2.817e+03, 1.750e+02,
       7.000e+02, 2.836e+03, 4.340e+02, 2.903e+03, 2.347e+03, 1.891e+03,
       2.999e+03, 6.870e+02, 2.344e+03, 1.437e+03, 4.830e+02, 4.374e+03,
       3.898e+03, 4.122e+03, 2.568e+03, 4.278e+03, 9.180e+02, 1.963e+03,
       1.633e+03, 2.431e+03, 5.380e+02, 8.640e+02, 1.570e+03, 1.511e+03,
       1.297e+03, 1.881e+03, 4.140e+02, 4.399e+03, 2.352e+03, 4.044e+03,
       7.730e+02, 1.632e+03, 4.270e+02, 2.492e+03, 9.610e+02, 3.652e+03,
       9.520e+02, 4.091e+03, 1.571e+03, 3.863e+03, 3.853e+03, 1.809e+03,
       2.047e+03, 1.832e+03, 3.425e+03, 2.803e+03, 1.069e+03, 7.500e+02,
       1.959e+03, 1.990e+03, 1.422e+03, 3.708e+03, 1.166e+03, 3.565e+03,
       2.032e+03, 4.011e+03, 2.595e+03, 2.873e+03, 2.260e+02, 4.820e+02,
       5.990e+02, 2.286e+03, 3.379e+03, 2.018e+03, 9.920e+02, 3.589e+03,
       2.920e+02, 2.767e+03, 6.170e+02, 1.246e+03, 2.413e+03, 2.259e+03,
       1.085e+03, 2.653e+03, 6.520e+02, 3.744e+03, 1.223e+03, 3.229e+03,
       3.520e+03, 1.014e+03, 7.070e+02, 2.392e+03, 1.750e+03, 7.750e+02,
       8.170e+02, 2.148e+03, 2.970e+02, 8.060e+02, 3.161e+03, 3.945e+03,
       1.630e+03, 1.300e+02, 2.902e+03, 1.904e+03, 5.240e+02, 1.921e+03,
       4.088e+03, 2.885e+03, 2.172e+03, 1.149e+03, 1.542e+03, 1.312e+03,
       2.055e+03, 1.309e+03, 3.803e+03, 2.464e+03, 3.064e+03, 1.761e+03,
       8.780e+02, 4.133e+03, 3.392e+03, 2.026e+03, 1.718e+03, 3.580e+02,
       2.368e+03, 2.570e+03, 3.032e+03, 8.280e+02, 4.206e+03, 1.344e+03,
       1.885e+03, 3.862e+03, 2.380e+02, 8.410e+02, 1.385e+03, 3.807e+03,
       1.169e+03, 1.682e+03, 1.703e+03, 9.090e+02, 1.332e+03, 1.861e+03,
       2.287e+03, 6.880e+02, 2.348e+03, 1.410e+03, 1.698e+03, 2.527e+03,
       2.401e+03, 4.131e+03, 1.664e+03, 1.907e+03, 2.388e+03, 4.214e+03,
       4.026e+03, 7.260e+02, 3.000e+03, 3.099e+03, 2.748e+03, 8.200e+02,
       2.704e+03, 2.538e+03, 9.290e+02, 3.535e+03, 1.055e+03, 1.265e+03,
       1.968e+03, 3.630e+03, 1.290e+03, 1.833e+03, 2.123e+03, 1.888e+03,
       1.287e+03, 5.020e+02, 4.590e+02, 1.401e+03, 3.812e+03, 1.059e+03,
       2.170e+03, 6.900e+01, 3.192e+03, 2.407e+03, 3.642e+03, 4.270e+03,
       2.358e+03, 3.608e+03, 1.289e+03, 2.953e+03, 3.734e+03, 3.757e+03,
       2.052e+03, 4.141e+03, 8.830e+02, 1.751e+03, 1.368e+03, 3.794e+03,
       2.410e+03, 1.514e+03, 3.058e+03, 3.633e+03, 4.160e+03, 6.000e+01,
       8.890e+02, 2.208e+03, 2.171e+03, 4.265e+03, 9.890e+02, 3.971e+03,
       3.917e+03, 1.097e+03, 3.920e+03, 1.634e+03, 2.128e+03, 4.810e+02,
       9.700e+01, 1.172e+03, 3.390e+03, 5.480e+02, 9.470e+02, 4.880e+02,
       2.250e+02, 2.346e+03, 2.040e+02, 3.273e+03, 4.313e+03, 1.889e+03,
       3.622e+03, 3.124e+03, 3.843e+03, 1.779e+03, 1.619e+03, 3.406e+03,
       3.246e+03, 3.666e+03, 3.391e+03, 1.616e+03, 2.601e+03, 5.280e+02,
       3.594e+03, 2.720e+02, 3.313e+03, 3.637e+03, 1.740e+02, 3.240e+03,
       1.805e+03, 2.450e+03, 1.970e+03, 3.913e+03, 5.330e+02, 3.320e+02,
       2.034e+03])

In [61]:
df['Num_of_Delayed_Payment'].sample(25)

39613     3.0
17619    20.0
47814    13.0
24245     9.0
11336     4.0
25576    14.0
38471     5.0
37524    17.0
2971      NaN
27420     7.0
1946     20.0
43744     2.0
958      11.0
19798    14.0
11244     3.0
40197    11.0
36460     NaN
7058     21.0
32385    16.0
35319    14.0
36438    20.0
32836    25.0
12251    10.0
40525     NaN
25923    25.0
Name: Num_of_Delayed_Payment, dtype: float64

In [62]:
df['Delay_from_due_date'] = df['Delay_from_due_date'].apply(lambda x: x if x > 0 else x*-1)

In [63]:
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380,High_spent_Medium_value_payments,361.444004
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.233938,Low_spent_Medium_value_payments,264.675446
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.082511,High_spent_Medium_value_payments,343.826873
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,NaN,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018,High_spent_Large_value_payments,485.298434

In [64]:
all_cols = df.columns.tolist()
all_cols

['ID',
 'Customer_ID',
 'Month',
 'Name',
 'Age',
 'SSN',
 'Occupation',
 'Annual_Income',
 'Monthly_Inhand_Salary',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Interest_Rate',
 'Num_of_Loan',
 'Type_of_Loan',
 'Delay_from_due_date',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Outstanding_Debt',
 'Credit_Utilization_Ratio',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Total_EMI_per_month',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance']

In [65]:
temp = []
for col in all_cols:
    print('Column Name: ' + col)
    print("**"*20)
    print(df[col].isna().sum())
    if( df[col].isna().sum() > 0 ):
        temp.append(col)
    print('END', "**"*18,'\n')

temp

Column Name: ID
****************************************
0
END ************************************

Column Name: Customer_ID
****************************************
0
END ************************************

Column Name: Month
****************************************
0
END ************************************

Column Name: Name
****************************************
0
END ************************************

Column Name: Age
****************************************
0
END ************************************

Column Name: SSN
****************************************
2828
END ************************************

Column Name: Occupation
****************************************
3438
END ************************************

Column Name: Annual_Income
****************************************
0
END ************************************

Column Name: Monthly_Inhand_Salary
****************************************
7498
END ************************************

Column Name: Num_Bank_Accounts
****************************************
0
END ************************************

Column Name: Num_Credit_Card
****************************************
0
END ************************************

Column Name: Interest_Rate
****************************************
0
END ************************************

Column Name: Num_of_Loan
****************************************
0
END ************************************

Column Name: Type_of_Loan
****************************************
5704
END ************************************

Column Name: Delay_from_due_date
****************************************
0
END ************************************

Column Name: Num_of_Delayed_Payment
****************************************
3498
END ************************************

Column Name: Changed_Credit_Limit
****************************************
1059
END ************************************

Column Name: Num_Credit_Inquiries
****************************************
1035
END ************************************

Column Name: Credit_Mix
****************************************
9805
END ************************************

Column Name: Outstanding_Debt
****************************************
0
END ************************************

Column Name: Credit_Utilization_Ratio
****************************************
0
END ************************************

Column Name: Credit_History_Age
****************************************
4470
END ************************************

Column Name: Payment_of_Min_Amount
****************************************
5993
END ************************************

Column Name: Total_EMI_per_month
****************************************
0
END ************************************

Column Name: Amount_invested_monthly
****************************************
2271
END ************************************

Column Name: Payment_Behaviour
****************************************
3800
END ************************************

Column Name: Monthly_Balance
****************************************
562
END ************************************

['SSN',
 'Occupation',
 'Monthly_Inhand_Salary',
 'Type_of_Loan',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance']

In [66]:
def replace_nan_with_mode(col_name):
    df[col_name] = df.groupby('Customer_ID')[col_name].transform(lambda x: x.fillna(x.mode().iloc[0] if not x.mode().empty else x.iloc[0]))

most_common_values = df.groupby('Customer_ID')[temp].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])

def replace_nan_with_most_common_values(col_name):
    df[col_name] = df['Customer_ID'].map(most_common_values[col_name])

for t in temp:
    if col in ['Num_of_Delayed_Payment','Num_Credit_Inquiries','Amount_invested_monthly','Payment_Behaviour','Monthly_Balance']:
        replace_nan_with_mode(t)
    else:
        replace_nan_with_most_common_values(t)

In [67]:
df.isna().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                           0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary         28
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment         4
Changed_Credit_Limit           0
Num_Credit_Inquiries           0
Credit_Mix                    84
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age             4
Payment_of_Min_Amount          8
Total_EMI_per_month            0
Amount_invested_monthly        0
Payment_Behaviour              0
Monthly_Balance                4
dtype: int64

In [68]:
temp1 = []
for col in all_cols:
    if df[col].isna().sum() > 0:
        temp1.append(col)

temp1

['Monthly_Inhand_Salary',
 'Type_of_Loan',
 'Num_of_Delayed_Payment',
 'Credit_Mix',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Monthly_Balance']

In [69]:
temp2 = []

for t1 in temp1:
    for index,row in df.iterrows():
        if pd.isna(row[t1]):
            temp_el = {'cust_id': row['Customer_ID'], 'col_name': t1}

            if temp_el not in temp2:
                temp2.append(temp_el)

temp2

[{'cust_id': 'CUS_0x86a', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0x5e53', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0xa37', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0x11c1', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0x542c', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0x9435', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0xc1a7', 'col_name': 'Monthly_Inhand_Salary'},
 {'cust_id': 'CUS_0x1cdb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x95ee', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6070', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3553', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x132f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xac86', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb5ff', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaedb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9ce6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3f5b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9f70', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6649', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3861', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x240d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2652', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x28b5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1c09', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9073', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x365a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x567b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x21e6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x230a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x32a5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1a96', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x31d5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3702', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x67e1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x100b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4e3c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1d4e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1f9e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc434', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x77d1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4655', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbd08', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3ce3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x79b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x96e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xae0e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa1ea', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8c03', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7d27', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x51e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xab3b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3d51', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6065', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa560', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4c3e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x41e4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4e8b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8153', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x51b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9eec', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xe94', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xad9d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa9a9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x68c8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1d3e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x534a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x36d5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa6d9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x58d0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x52e7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2719', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xae79', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x86be', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb87a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1a5a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3019', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4a3f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb90d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x687c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaf5f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7ce5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x864', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x84da', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7cd3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6926', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9641', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2e96', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1baf', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xacc6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9027', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xd51', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x672e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x77ac', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x800', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8a0e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5d82', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x64a1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x105b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5413', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8ab5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb05a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x10ee', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2847', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3c47', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x37d2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9c30', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x45f4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc490', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6edb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5ff8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9ec9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9894', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6b15', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x29d2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaa39', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x88a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6171', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x72e9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x85d3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa130', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6479', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc163', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3cd2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa374', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc3ee', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa301', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3de8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x88f2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x60d8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3cb6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xacc7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5647', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x70e8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4450', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2cbc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9e6c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8cd4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x78db', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x83cc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa972', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x39ff', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7cd8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x78e8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3655', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4b19', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x28a3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7877', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x88c1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc3d8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4b3c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x59ba', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4c56', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3d5b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x13a8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa2b2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x523b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3ba7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7072', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc5d7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x69c8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4e66', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xcad', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x17b0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x99b4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa3bb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8983', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x950d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb9f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3430', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x437e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaa3d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb1a2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x281d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb7a5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6e58', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb144', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa7d7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8cd3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x16f8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa350', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5f3b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x47a6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5454', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4d1b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbf4c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x97a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2590', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x68dc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1c61', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x37be', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8ec', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2984', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3ebe', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1a77', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5e19', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9e9a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xf79', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x31e0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x644', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5435', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbccb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4bdd', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6133', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8559', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x24a8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x47c3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5fca', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6e13', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6da3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x22d6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x543d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa731', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2b54', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x60da', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2708', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x761b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2b4c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7daf', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5c67', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4a11', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2123', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8f4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb182', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x29ff', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa05d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4898', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x66bb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5465', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x53c0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6d25', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6184', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x624e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5b88', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3f31', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8925', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x321f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9c59', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8162', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x82cb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x37e1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x44f4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9f7a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb1c2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc15d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5905', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa3ec', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x63e0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc622', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x50ef', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa366', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x10aa', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbb25', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x67de', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6437', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4fc9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x65cf', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5bcb', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x383e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8727', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb867', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8004', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa6f4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8da2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xe2a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3a3d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x7084', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x84a0', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5ee5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5aa2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x133d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x506c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa299', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x983a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x24e4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6b2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x695c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa0dc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1139', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9a70', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x70b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5534', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa6f1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8966', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3d71', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc113', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaa3a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8ed', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6fea', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6e65', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2b62', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x37ea', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xda6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2fa2', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x3ca4', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2d17', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5184', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1f4a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x29ae', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5e02', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa3fa', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x76ca', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1929', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x641a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb04b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x96ad', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x52bf', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9a7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2ce8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4881', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9bc8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1986', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6d41', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xb82b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x63de', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1258', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6ea9', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x974f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x8029', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x440a', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xba67', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x29ef', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x974', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc2da', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xc064', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x43f1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4196', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x461f', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x46dd', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5fd6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x55e3', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x2b2d', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x841e', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5fd8', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x17fe', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9d2c', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5de6', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x6901', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xaffc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5e89', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5e46', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x1938', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x4a5', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9322', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x165b', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x68cc', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbfa1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbd37', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x57a1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5e44', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x23ff', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x5255', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x96f7', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x9bbd', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xa1f1', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0xbe49', 'col_name': 'Type_of_Loan'},
 {'cust_id': 'CUS_0x657e', 'col_name': 'Type_of_Loan'},

In [70]:
df['Monthly_Balance'].value_counts(dropna=False)

Monthly_Balance
3.333333e+26    6
4.806375e+02    4
1.815008e+02    4
NaN             4
5.942351e+01    4
               ..
3.574182e+02    1
1.126122e+02    1
2.021915e+02    1
1.071672e+02    1
3.603797e+02    1
Name: count, Length: 49434, dtype: int64

In [71]:
df.groupby('Occupation')['Monthly_Balance'].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])

Occupation
Accountant       450.017576
Architect        120.027469
Developer         63.683247
Doctor           480.637541
Engineer         462.377241
Entrepreneur      17.783652
Journalist       104.831537
Lawyer            68.891056
Manager           59.423510
Mechanic         181.500788
Media_Manager     21.139138
Musician         164.370529
Scientist        202.438421
Teacher          205.247315
Writer            48.858467
Name: Monthly_Balance, dtype: float64

In [72]:
#get the Occupation for the Monthly_Balance having NAN value

#set method is use to make sure we do not have multiple entries of Occupation
Monthly_Balance_Occupation = set(df.loc[df['Monthly_Balance'].isna(), 'Occupation'].tolist())
Monthly_Balance_Occupation

{'Manager'}

In [73]:
# same for 
Monthly_Balance_Customer_ID = set(df.loc[df['Monthly_Balance'].isna(), 'Customer_ID'].tolist())
Monthly_Balance_Customer_ID

{'CUS_0x7651'}

In [74]:
Monthly_Balance_Customer_ID_list = list(Monthly_Balance_Customer_ID)
Monthly_Balance_Customer_ID_list

['CUS_0x7651']

In [75]:
mean_Monthly_Balance = df.loc[df['Occupation'] == 'Manager', 'Monthly_Balance'].mean()
mean_Monthly_Balance

405.6933153257149

In [76]:
df.loc[df['Customer_ID'] == Monthly_Balance_Customer_ID_list[0], 'Monthly_Balance'] = mean_Monthly_Balance

In [77]:
Num_of_Delayed_Payment_Customer_ID = set(df.loc[df['Num_of_Delayed_Payment'].isna(), 'Customer_ID'].tolist())
Num_of_Delayed_Payment_Customer_ID 

Num_of_Delayed_Payment_Customer_ID_list = list(Num_of_Delayed_Payment_Customer_ID)
Num_of_Delayed_Payment_Customer_ID_list

['CUS_0x6620']

In [78]:
df.loc[df['Customer_ID'] == Num_of_Delayed_Payment_Customer_ID_list[0], 'Num_of_Delayed_Payment'] = df['Num_of_Delayed_Payment'].mean()

In [79]:
Credit_History_Age_Customer_ID = set(df.loc[df['Credit_History_Age'].isna(), 'Customer_ID'].tolist())
Credit_History_Age_Customer_ID 

Credit_History_Age_Customer_ID_list = list(Credit_History_Age_Customer_ID)
Credit_History_Age_Customer_ID_list

['CUS_0x9737']

In [80]:
df.loc[df['Customer_ID'] == Credit_History_Age_Customer_ID_list[0], 'Credit_History_Age'] = df['Credit_History_Age'].mode().iloc[0]

In [81]:
Payment_of_Min_Amount_Customer_ID = set(df.loc[df['Payment_of_Min_Amount'].isna(), 'Customer_ID'].tolist())
Payment_of_Min_Amount_Customer_ID 

Payment_of_Min_Amount_Customer_ID_list = list(Payment_of_Min_Amount_Customer_ID)
Payment_of_Min_Amount_Customer_ID_list

['CUS_0x6a33', 'CUS_0x8f69']

In [82]:
for id in Payment_of_Min_Amount_Customer_ID_list:
    df.loc[df['Customer_ID'] == id, 'Payment_of_Min_Amount'] = df['Payment_of_Min_Amount'].mode().iloc[0]

In [83]:
Monthly_Inhand_Salary_Customer_ID = set(df.loc[df['Monthly_Inhand_Salary'].isna(), 'Customer_ID'].tolist())
Monthly_Inhand_Salary_Customer_ID 

Monthly_Inhand_Salary_Customer_ID_list = list(Monthly_Inhand_Salary_Customer_ID)
Monthly_Inhand_Salary_Customer_ID_list

['CUS_0x11c1',
 'CUS_0xa37',
 'CUS_0x542c',
 'CUS_0xc1a7',
 'CUS_0x5e53',
 'CUS_0x86a',
 'CUS_0x9435']

In [84]:
for id in Monthly_Inhand_Salary_Customer_ID_list:
    df.loc[df['Customer_ID'] == id, 'Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].mean()

In [85]:
Credit_Mix_Customer_ID = set(df.loc[df['Credit_Mix'].isna(), 'Customer_ID'].tolist())
Credit_Mix_Customer_ID 

Credit_Mix_Customer_ID_list = list(Credit_Mix_Customer_ID)
Credit_Mix_Customer_ID_list

['CUS_0x8006',
 'CUS_0x6473',
 'CUS_0x7405',
 'CUS_0x833d',
 'CUS_0xe21',
 'CUS_0x3257',
 'CUS_0x5f64',
 'CUS_0x5ae3',
 'CUS_0x7c73',
 'CUS_0x7e62',
 'CUS_0x240d',
 'CUS_0x8628',
 'CUS_0x4a05',
 'CUS_0xa7d0',
 'CUS_0x2d6f',
 'CUS_0x40f2',
 'CUS_0x9a88',
 'CUS_0xd97',
 'CUS_0x47c0',
 'CUS_0xb4ee',
 'CUS_0x6068']

In [86]:
for id in Credit_Mix_Customer_ID_list:
    df.loc[df['Customer_ID'] == id, 'Credit_Mix'] = df['Credit_Mix'].mode().iloc[0]

In [87]:
Type_of_Loan_Customer_ID = set(df.loc[df['Type_of_Loan'].isna(), 'Customer_ID'].tolist())
Type_of_Loan_Customer_ID 

Type_of_Loan_Customer_ID_list = list(Type_of_Loan_Customer_ID)
Type_of_Loan_Customer_ID_list

['CUS_0x8983',
 'CUS_0x5fd8',
 'CUS_0x13e3',
 'CUS_0x36a1',
 'CUS_0x7f73',
 'CUS_0x7a59',
 'CUS_0x5fd6',
 'CUS_0xc0fd',
 'CUS_0x18fa',
 'CUS_0x4aa6',
 'CUS_0x440a',
 'CUS_0x8b5b',
 'CUS_0xa756',
 'CUS_0x465c',
 'CUS_0xa9a9',
 'CUS_0x3213',
 'CUS_0x3102',
 'CUS_0x69c8',
 'CUS_0x61f7',
 'CUS_0x7c33',
 'CUS_0x386c',
 'CUS_0x9acb',
 'CUS_0x5036',
 'CUS_0x4a3f',
 'CUS_0xae36',
 'CUS_0xc533',
 'CUS_0x10aa',
 'CUS_0x9fea',
 'CUS_0x80c7',
 'CUS_0x2a69',
 'CUS_0x8e48',
 'CUS_0x8a31',
 'CUS_0x3361',
 'CUS_0x6b1d',
 'CUS_0x9a3c',
 'CUS_0xc04',
 'CUS_0x6a33',
 'CUS_0xaf39',
 'CUS_0xba5',
 'CUS_0xbd75',
 'CUS_0xb5e9',
 'CUS_0x80e2',
 'CUS_0x3a3a',
 'CUS_0xbf4c',
 'CUS_0x66ce',
 'CUS_0x57a1',
 'CUS_0x321f',
 'CUS_0x9041',
 'CUS_0x63fe',
 'CUS_0x1591',
 'CUS_0x95a9',
 'CUS_0x63de',
 'CUS_0x6d5c',
 'CUS_0x9bbd',
 'CUS_0xa408',
 'CUS_0x6a84',
 'CUS_0x84a0',
 'CUS_0x3430',
 'CUS_0x898a',
 'CUS_0x810d',
 'CUS_0x92d2',
 'CUS_0xe4e',
 'CUS_0x58d7',
 'CUS_0x38ca',
 'CUS_0x5534',
 'CUS_0x56ce',
 'CUS_0x3d63',
 'CUS_0x48ee',
 'CUS_0x78db',
 'CUS_0x6184',
 'CUS_0x6ae4',
 'CUS_0x1deb',
 'CUS_0x81ce',
 'CUS_0x7fd3',
 'CUS_0x4068',
 'CUS_0x5833',
 'CUS_0xc5d7',
 'CUS_0xaa3a',
 'CUS_0xb53',
 'CUS_0xa2b6',
 'CUS_0x8029',
 'CUS_0xb7a5',
 'CUS_0x6448',
 'CUS_0x383e',
 'CUS_0x3e65',
 'CUS_0xc016',
 'CUS_0x614f',
 'CUS_0x9ce6',
 'CUS_0xc0a4',
 'CUS_0x9708',
 'CUS_0x470c',
 'CUS_0x9967',
 'CUS_0xa8d7',
 'CUS_0x3d58',
 'CUS_0x57c2',
 'CUS_0x4e73',
 'CUS_0x6f93',
 'CUS_0x1b21',
 'CUS_0x2551',
 'CUS_0xc686',
 'CUS_0x864',
 'CUS_0x8a0e',
 'CUS_0x6d35',
 'CUS_0x5465',
 'CUS_0x1c2f',
 'CUS_0x31e3',
 'CUS_0x99b4',
 'CUS_0x6a81',
 'CUS_0x3854',
 'CUS_0xe42',
 'CUS_0x9f7a',
 'CUS_0xc317',
 'CUS_0x55e3',
 'CUS_0x3fb4',
 'CUS_0x1929',
 'CUS_0x759c',
 'CUS_0xb2c',
 'CUS_0x5b70',
 'CUS_0x205c',
 'CUS_0x3da0',
 'CUS_0x7bb',
 'CUS_0x437e',
 'CUS_0x4fc1',
 'CUS_0x5b92',
 'CUS_0x8aea',
 'CUS_0x6ebb',
 'CUS_0x7ed7',
 'CUS_0x9942',
 'CUS_0x32a5',
 'CUS_0x2083',
 'CUS_0x4afe',
 'CUS_0x9a70',
 'CUS_0x8dfe',
 'CUS_0x632f',
 'CUS_0x45ea',
 'CUS_0xac86',
 'CUS_0xc062',
 'CUS_0x6437',
 'CUS_0x8acd',
 'CUS_0xa0dc',
 'CUS_0x6df3',
 'CUS_0xae79',
 'CUS_0xa24a',
 'CUS_0x4c3e',
 'CUS_0x87c1',
 'CUS_0x26bf',
 'CUS_0x8ec',
 'CUS_0x3d99',
 'CUS_0x2c4f',
 'CUS_0x2bb0',
 'CUS_0xa88c',
 'CUS_0x9bef',
 'CUS_0x8abb',
 'CUS_0x48f7',
 'CUS_0x1709',
 'CUS_0xba67',
 'CUS_0x2317',
 'CUS_0x1a61',
 'CUS_0x133d',
 'CUS_0x23ff',
 'CUS_0x8e45',
 'CUS_0x4681',
 'CUS_0xabef',
 'CUS_0xb1bf',
 'CUS_0x5fd5',
 'CUS_0x66c7',
 'CUS_0x5413',
 'CUS_0x373e',
 'CUS_0x39ff',
 'CUS_0x97ab',
 'CUS_0x16f8',
 'CUS_0xb23c',
 'CUS_0x64d9',
 'CUS_0xb05d',
 'CUS_0xc434',
 'CUS_0x3019',
 'CUS_0x8e44',
 'CUS_0xa84d',
 'CUS_0x2611',
 'CUS_0x5146',
 'CUS_0x523b',
 'CUS_0xe94',
 'CUS_0x4b19',
 'CUS_0xb4cc',
 'CUS_0x6998',
 'CUS_0x9e8f',
 'CUS_0x7ce5',
 'CUS_0xc41f',
 'CUS_0xc24a',
 'CUS_0xb66c',
 'CUS_0x388a',
 'CUS_0x6171',
 'CUS_0x37d2',
 'CUS_0xb517',
 'CUS_0xb1f5',
 'CUS_0x3c87',
 'CUS_0x6b2',
 'CUS_0x7570',
 'CUS_0x8b6d',
 'CUS_0x79f7',
 'CUS_0x3d5b',
 'CUS_0xd78',
 'CUS_0x1f97',
 'CUS_0x8cd4',
 'CUS_0x5ff8',
 'CUS_0x64a1',
 'CUS_0xc113',
 'CUS_0x9894',
 'CUS_0x5049',
 'CUS_0x3d71',
 'CUS_0x435f',
 'CUS_0x7cc4',
 'CUS_0x86be',
 'CUS_0x1d3e',
 'CUS_0x9d2f',
 'CUS_0x8f4',
 'CUS_0x5c68',
 'CUS_0xc31a',
 'CUS_0xa774',
 'CUS_0xbb37',
 'CUS_0x8fa8',
 'CUS_0x60d8',
 'CUS_0xc4ac',
 'CUS_0x44f4',
 'CUS_0x2fb1',
 'CUS_0x9322',
 'CUS_0x638b',
 'CUS_0x1c2a',
 'CUS_0x34d7',
 'CUS_0xaf4c',
 'CUS_0x54fd',
 'CUS_0x4eef',
 'CUS_0x248f',
 'CUS_0xae54',
 'CUS_0xa7a4',
 'CUS_0x7968',
 'CUS_0x480f',
 'CUS_0x2e9e',
 'CUS_0x23b0',
 'CUS_0x59ba',
 'CUS_0x8cf6',
 'CUS_0x148b',
 'CUS_0x15f4',
 'CUS_0x52bf',
 'CUS_0xa493',
 'CUS_0xdc1',
 'CUS_0x4563',
 'CUS_0xaadf',
 'CUS_0xbc0e',
 'CUS_0x6fff',
 'CUS_0x9bb9',
 'CUS_0xc5aa',
 'CUS_0x5b88',
 'CUS_0x2c04',
 'CUS_0x7daf',
 'CUS_0x4d1b',
 'CUS_0x9729',
 'CUS_0x5a82',
 'CUS_0x8907',
 'CUS_0xbe49',
 'CUS_0x3ea4',
 'CUS_0x3382',
 'CUS_0x1aee',
 'CUS_0x78f0',
 'CUS_0xac56',
 'CUS_0x60b6',
 'CUS_0xa7e9',
 'CUS_0x553e',
 'CUS_0xa3fa',
 'CUS_0xa7ab',
 'CUS_0x4e66',
 'CUS_0x56c',
 'CUS_0x133e',
 'CUS_0xab35',
 'CUS_0x438d',
 'CUS_0x6080',
 'CUS_0x169c',
 'CUS_0x48a',
 'CUS_0x4863',
 'CUS_0x743f',
 'CUS_0x8b6f',
 'CUS_0x328b',
 'CUS_0x1f4f',
 'CUS_0x7e0e',
 'CUS_0x9230',
 'CUS_0xc734',
 'CUS_0x658f',
 'CUS_0x7699',
 'CUS_0x6f2',
 'CUS_0x7d04',
 'CUS_0x30fc',
 'CUS_0x6443',
 'CUS_0xaebc',
 'CUS_0x47c3',
 'CUS_0xaed2',
 'CUS_0x7c25',
 'CUS_0xc4b0',
 'CUS_0x9ec9',
 'CUS_0x3442',
 'CUS_0x5c3f',
 'CUS_0xa366',
 'CUS_0xb6cd',
 'CUS_0x845d',
 'CUS_0x1ed8',
 'CUS_0x8d7b',
 'CUS_0x1e45',
 'CUS_0x77b6',
 'CUS_0xbb3c',
 'CUS_0x5a48',
 'CUS_0xa3bb',
 'CUS_0x3ce3',
 'CUS_0x535b',
 'CUS_0x7edf',
 'CUS_0x63e0',
 'CUS_0x96d3',
 'CUS_0x68c8',
 'CUS_0x9d64',
 'CUS_0x698b',
 'CUS_0xdb0',
 'CUS_0x9902',
 'CUS_0x29ff',
 'CUS_0x89a',
 'CUS_0x9f70',
 'CUS_0x5d82',
 'CUS_0xa4ae',
 'CUS_0x7032',
 'CUS_0xb453',
 'CUS_0x7c2',
 'CUS_0xb329',
 'CUS_0x1691',
 'CUS_0x7756',
 'CUS_0xa2b0',
 'CUS_0xc62c',
 'CUS_0x2005',
 'CUS_0xbb4a',
 'CUS_0x1139',
 'CUS_0x744c',
 'CUS_0xb9f',
 'CUS_0xb1cc',
 'CUS_0x447f',
 'CUS_0xaf5f',
 'CUS_0x687c',
 'CUS_0xc436',
 'CUS_0x2dc9',
 'CUS_0x132f',
 'CUS_0x5e89',
 'CUS_0x9da4',
 'CUS_0x53d6',
 'CUS_0x37af',
 'CUS_0x8004',
 'CUS_0x9dd5',
 'CUS_0x5d1c',
 'CUS_0x6eec',
 'CUS_0x5946',
 'CUS_0x5f9a',
 'CUS_0x7672',
 'CUS_0x5e70',
 'CUS_0xa4d9',
 'CUS_0xc3d8',
 'CUS_0x4450',
 'CUS_0x6a52',
 'CUS_0x2829',
 'CUS_0x489b',
 'CUS_0x3a3b',
 'CUS_0x4881',
 'CUS_0x4f49',
 'CUS_0xab0d',
 'CUS_0x44c8',
 'CUS_0x9fdc',
 'CUS_0x6610',
 'CUS_0x9f04',
 'CUS_0x6320',
 'CUS_0x7392',
 'CUS_0x2c1c',
 'CUS_0x8925',
 'CUS_0x5953',
 'CUS_0xc010',
 'CUS_0xde1',
 'CUS_0x1138',
 'CUS_0xbf3a',
 'CUS_0x48fe',
 'CUS_0x5525',
 'CUS_0x8a3f',
 'CUS_0x5c8d',
 'CUS_0xacc6',
 'CUS_0x1cdb',
 'CUS_0x3ed1',
 'CUS_0x707c',
 'CUS_0xb264',
 'CUS_0x4357',
 'CUS_0x3f0',
 'CUS_0x1ef9',
 'CUS_0x58ef',
 'CUS_0x9aef',
 'CUS_0x1baf',
 'CUS_0x240d',
 'CUS_0x7cdc',
 'CUS_0x3afc',
 'CUS_0x634d',
 'CUS_0x9f80',
 'CUS_0x1e76',
 'CUS_0x70e8',
 'CUS_0x5111',
 'CUS_0x3e14',
 'CUS_0x5f21',
 'CUS_0x7977',
 'CUS_0x4aba',
 'CUS_0x44e0',
 'CUS_0x17d1',
 'CUS_0xb1a2',
 'CUS_0xb8e',
 'CUS_0x5e4e',
 'CUS_0x77ac',
 'CUS_0x3539',
 'CUS_0x9d6b',
 'CUS_0x835',
 'CUS_0x337d',
 'CUS_0x6e58',
 'CUS_0x6a14',
 'CUS_0xc2ff',
 'CUS_0xcad',
 'CUS_0x5709',
 'CUS_0xbcbe',
 'CUS_0x567b',
 'CUS_0x46c3',
 'CUS_0x4a11',
 'CUS_0x85d3',
 'CUS_0x5afd',
 'CUS_0x20c8',
 'CUS_0x927e',
 'CUS_0x64f0',
 'CUS_0x13ec',
 'CUS_0x8cb5',
 'CUS_0x792d',
 'CUS_0x24df',
 'CUS_0x2858',
 'CUS_0xa2b',
 'CUS_0x8bce',
 'CUS_0xc1bb',
 'CUS_0x67b1',
 'CUS_0x13a8',
 'CUS_0x12fa',
 'CUS_0xac59',
 'CUS_0x9acf',
 'CUS_0x9235',
 'CUS_0xb4f',
 'CUS_0x7877',
 'CUS_0xe2a',
 'CUS_0x1ba2',
 'CUS_0x1e46',
 'CUS_0x43de',
 'CUS_0x70c9',
 'CUS_0x875',
 'CUS_0xa6f4',
 'CUS_0x403d',
 'CUS_0x95ee',
 'CUS_0x3b46',
 'CUS_0x949b',
 'CUS_0xb64a',
 'CUS_0x6901',
 'CUS_0x5b6f',
 'CUS_0x3768',
 'CUS_0x7a1f',
 'CUS_0xb182',
 'CUS_0xa4ac',
 'CUS_0x7793',
 'CUS_0x1f19',
 'CUS_0x657e',
 'CUS_0x2b62',
 'CUS_0x30c1',
 'CUS_0x4829',
 'CUS_0x506c',
 'CUS_0x4596',
 'CUS_0x4328',
 'CUS_0xab61',
 'CUS_0x3c41',
 'CUS_0x2d94',
 'CUS_0x7b8c',
 'CUS_0x2e96',
 'CUS_0x6603',
 'CUS_0x6a39',
 'CUS_0x8138',
 'CUS_0x78a7',
 'CUS_0x188f',
 'CUS_0x1258',
 'CUS_0xb9ef',
 'CUS_0xb333',
 'CUS_0xb1c2',
 'CUS_0x288b',
 'CUS_0xaa3d',
 'CUS_0x9d3e',
 'CUS_0x5dfe',
 'CUS_0xaa29',
 'CUS_0xfe5',
 'CUS_0x50b9',
 'CUS_0x3aeb',
 'CUS_0x2fa2',
 'CUS_0x94d5',
 'CUS_0x28de',
 'CUS_0x2719',
 'CUS_0xaf3',
 'CUS_0x70ac',
 'CUS_0x65d2',
 'CUS_0x63a6',
 'CUS_0x937d',
 'CUS_0x5a42',
 'CUS_0x5e0e',
 'CUS_0x7b30',
 'CUS_0x4bdc',
 'CUS_0x88a',
 'CUS_0x4c56',
 'CUS_0x70b3',
 'CUS_0x21f7',
 'CUS_0x2c14',
 'CUS_0x2b2d',
 'CUS_0x8773',
 'CUS_0x2ed0',
 'CUS_0x4655',
 'CUS_0x9d2c',
 'CUS_0x60ec',
 'CUS_0x3bf5',
 'CUS_0x44b8',
 'CUS_0x3cd2',
 'CUS_0x18f4',
 'CUS_0xa6d1',
 'CUS_0x644',
 'CUS_0x4dfb',
 'CUS_0x3e75',
 'CUS_0x4f57',
 'CUS_0x58d6',
 'CUS_0x4e71',
 'CUS_0xac5a',
 'CUS_0x1a5a',
 'CUS_0x7711',
 'CUS_0x2f8c',
 'CUS_0x2ccc',
 'CUS_0x4bdd',
 'CUS_0x7611',
 'CUS_0x97d7',
 'CUS_0x1f3d',
 'CUS_0xbe71',
 'CUS_0xc163',
 'CUS_0x3e7f',
 'CUS_0x32f5',
 'CUS_0x25c0',
 'CUS_0x4d90',
 'CUS_0x5280',
 'CUS_0x9485',
 'CUS_0x3c95',
 'CUS_0x8440',
 'CUS_0x57ca',
 'CUS_0x4318',
 'CUS_0xd51',
 'CUS_0x6070',
 'CUS_0x8aa2',
 'CUS_0x3909',
 'CUS_0x9ee5',
 'CUS_0x7072',
 'CUS_0x376b',
 'CUS_0x5de6',
 'CUS_0x323f',
 'CUS_0x6133',
 'CUS_0x365a',
 'CUS_0x400a',
 'CUS_0x9db8',
 'CUS_0x3d37',
 'CUS_0x4203',
 'CUS_0xaa8d',
 'CUS_0x51b',
 'CUS_0x9ae4',
 'CUS_0xcea',
 'CUS_0x419f',
 'CUS_0x4d25',
 'CUS_0x4198',
 'CUS_0x24a8',
 'CUS_0x77f8',
 'CUS_0x1108',
 'CUS_0x3ccf',
 'CUS_0x58d0',
 'CUS_0x9a93',
 'CUS_0x8852',
 'CUS_0xb2b5',
 'CUS_0xb87a',
 'CUS_0x55f4',
 'CUS_0x9435',
 'CUS_0x8034',
 'CUS_0x2064',
 'CUS_0x1938',
 'CUS_0x737a',
 'CUS_0x2378',
 'CUS_0x2dd8',
 'CUS_0x2cbc',
 'CUS_0x192d',
 'CUS_0xc5a5',
 'CUS_0x2d14',
 'CUS_0x16ee',
 'CUS_0x1786',
 'CUS_0x7a12',
 'CUS_0x64d4',
 'CUS_0x4196',
 'CUS_0x58b2',
 'CUS_0x3359',
 'CUS_0x3a3d',
 'CUS_0x582f',
 'CUS_0x4f83',
 'CUS_0x67e2',
 'CUS_0xb144',
 'CUS_0x3713',
 'CUS_0x1e48',
 'CUS_0xc2da',
 'CUS_0x6fc4',
 'CUS_0x7ed9',
 'CUS_0x7c71',
 'CUS_0x1ac9',
 'CUS_0xb8a7',
 'CUS_0xc39',
 'CUS_0x6ff5',
 'CUS_0xbe14',
 'CUS_0x4ab7',
 'CUS_0xc2cb',
 'CUS_0x454f',
 'CUS_0x12ef',
 'CUS_0x3608',
 'CUS_0xb689',
 'CUS_0xad4f',
 'CUS_0x52e7',
 'CUS_0x668f',
 'CUS_0xb4c5',
 'CUS_0x99ca',
 'CUS_0x6edb',
 'CUS_0xc066',
 'CUS_0x9bc8',
 'CUS_0x779',
 'CUS_0x2513',
 'CUS_0xb183',
 'CUS_0x178d',
 'CUS_0xa2ca',
 'CUS_0x1b00',
 'CUS_0x24e4',
 'CUS_0x1c65',
 'CUS_0xb90d',
 'CUS_0x4d12',
 'CUS_0xa1f1',
 'CUS_0x950d',
 'CUS_0xbccb',
 'CUS_0x4c87',
 'CUS_0x79c8',
 'CUS_0x3911',
 'CUS_0x5dca',
 'CUS_0x100b',
 'CUS_0x2288',
 'CUS_0xa6f1',
 'CUS_0x9522',
 'CUS_0x5c1c',
 'CUS_0x242d',
 'CUS_0x1f74',
 'CUS_0xb0a3',
 'CUS_0x526d',
 'CUS_0x6d25',
 'CUS_0x85e7',
 'CUS_0xdc8',
 'CUS_0xc3ee',
 'CUS_0x9ff7',
 'CUS_0x6926',
 'CUS_0x1fcb',
 'CUS_0x2cae',
 'CUS_0x25f2',
 'CUS_0x9641',
 'CUS_0xb012',
 'CUS_0x5c31',
 'CUS_0x1848',
 'CUS_0x8ab5',
 'CUS_0x1ebc',
 'CUS_0xc4bb',
 'CUS_0xdac',
 'CUS_0x383c',
 'CUS_0xc2ee',
 'CUS_0xc4ee',
 'CUS_0x5a2f',
 'CUS_0x6529',
 'CUS_0xb8f7',
 'CUS_0x165b',
 'CUS_0x68cc',
 'CUS_0x86c7',
 'CUS_0x1c09',
 'CUS_0x7f31',
 'CUS_0x5f90',
 'CUS_0xaee3',
 'CUS_0xfb6',
 'CUS_0xb13e',
 'CUS_0x3815',
 'CUS_0x9538',
 'CUS_0x431',
 'CUS_0x7edb',
 'CUS_0xa857',
 'CUS_0x37ea',
 'CUS_0xb68',
 'CUS_0xa127',
 'CUS_0x4f0d',
 'CUS_0x7a96',
 'CUS_0x8d77',
 'CUS_0xbd3d',
 'CUS_0x796a',
 'CUS_0xb6a5',
 'CUS_0x2562',
 'CUS_0xa301',
 'CUS_0x31e0',
 'CUS_0xa374',
 'CUS_0x14cf',
 'CUS_0x1c83',
 'CUS_0x965a',
 'CUS_0x2590',
 'CUS_0xa5dd',
 'CUS_0x983a',
 'CUS_0x61fb',
 'CUS_0x1563',
 'CUS_0x3a41',
 'CUS_0x6b10',
 'CUS_0x47a6',
 'CUS_0x7dee',
 'CUS_0xa39',
 'CUS_0x783b',
 'CUS_0x2db3',
 'CUS_0x761b',
 'CUS_0x974',
 'CUS_0x2d03',
 'CUS_0x3c47',
 'CUS_0xc4b2',
 'CUS_0x5e1b',
 'CUS_0x3f5b',
 'CUS_0x33b6',
 'CUS_0xb4d8',
 'CUS_0xa560',
 'CUS_0x629c',
 'CUS_0x2652',
 'CUS_0xb49f',
 'CUS_0xa299',
 'CUS_0x89b4',
 'CUS_0x6afc',
 'CUS_0x3a85',
 'CUS_0x79a8',
 'CUS_0x2b54',
 'CUS_0xbc7f',
 'CUS_0x56a',
 'CUS_0x10ee',
 'CUS_0x8b38',
 'CUS_0x2984',
 'CUS_0xa62f',
 'CUS_0x9153',
 'CUS_0x84da',
 'CUS_0xd66',
 'CUS_0x9fab',
 'CUS_0x6582',
 'CUS_0x8159',
 'CUS_0x432e',
 'CUS_0x8162',
 'CUS_0x6649',
 'CUS_0x3d51',
 'CUS_0x4ef9',
 'CUS_0x9a2c',
 'CUS_0x47a',
 'CUS_0x21c0',
 'CUS_0xb97',
 'CUS_0x3468',
 'CUS_0x56f1',
 'CUS_0x5e02',
 'CUS_0x3ca4',
 'CUS_0xb3f2',
 'CUS_0x998f',
 'CUS_0x1869',
 'CUS_0x84b',
 'CUS_0x4bf4',
 'CUS_0x5254',
 'CUS_0xbe1d',
 'CUS_0x2f52',
 'CUS_0xf79',
 'CUS_0x89e',
 'CUS_0x2a67',
 'CUS_0x7960',
 'CUS_0x6ae2',
 'CUS_0x9275',
 'CUS_0x8f6f',
 'CUS_0x87a4',
 'CUS_0x5bcb',
 'CUS_0x40a3',
 'CUS_0x6d94',
 'CUS_0x1a96',
 'CUS_0x27c2',
 'CUS_0x53eb',
 'CUS_0x61a3',
 'CUS_0x9ed8',
 'CUS_0x9fd0',
 'CUS_0x7029',
 'CUS_0x8af8',
 'CUS_0x7500',
 'CUS_0xafdf',
 'CUS_0x3ebe',
 'CUS_0x6fea',
 'CUS_0x31d5',
 'CUS_0xbfa1',
 'CUS_0x8c03',
 'CUS_0xc0d',
 'CUS_0xab17',
 'CUS_0x7177',
 'CUS_0x8d22',
 'CUS_0x1e2d',
 'CUS_0x3b06',
 'CUS_0x8727',
 'CUS_0x3105',
 'CUS_0x7d3b',
 'CUS_0x328e',
 'CUS_0x3336',
 'CUS_0x99ba',
 'CUS_0x2eb1',
 'CUS_0x1c61',
 'CUS_0x6b15',
 'CUS_0x2b3c',
 'CUS_0xa1df',
 'CUS_0xac54',
 'CUS_0x2c51',
 'CUS_0x5d67',
 'CUS_0x25ae',
 'CUS_0xbace',
 'CUS_0x5606',
 'CUS_0x5905',
 'CUS_0x9c30',
 'CUS_0x3702',
 'CUS_0x2d17',
 'CUS_0x4cef',
 'CUS_0x93e',
 'CUS_0x85bb',
 'CUS_0xc5fd',
 'CUS_0x2493',
 'CUS_0x5073',
 'CUS_0x543d',
 'CUS_0x17fc',
 'CUS_0x5c45',
 'CUS_0x79d1',
 'CUS_0x574a',
 'CUS_0x24c3',
 'CUS_0xbc5f',
 'CUS_0x9ce2',
 'CUS_0x3b52',
 'CUS_0x6331',
 'CUS_0x67de',
 'CUS_0x6a91',
 'CUS_0x8816',
 'CUS_0xa99a',
 'CUS_0x6e65',
 'CUS_0x70d4',
 'CUS_0xb4d6',
 'CUS_0xc420',
 'CUS_0x3dd8',
 'CUS_0x60a2',
 'CUS_0xab5f',
 'CUS_0x5afe',
 'CUS_0x27a4',
 'CUS_0x8cd3',
 'CUS_0x8a5',
 'CUS_0x6479',
 'CUS_0x4e3c',
 'CUS_0xbf38',
 'CUS_0xa973',
 'CUS_0xc146',
 'CUS_0x37be',
 'CUS_0x1ed6',
 'CUS_0xacc7',
 'CUS_0xb4c4',
 'CUS_0xb3a',
 'CUS_0xa1ea',
 'CUS_0x3861',
 'CUS_0x9b81',
 'CUS_0x4c13',
 'CUS_0x230a',
 'CUS_0xb912',
 'CUS_0x105b',
 'CUS_0x6da3',
 'CUS_0x7cb3',
 'CUS_0x34ad',
 'CUS_0x6308',
 'CUS_0x9985',
 'CUS_0x2767',
 'CUS_0x5ac4',
 'CUS_0x36d5',
 'CUS_0x8343',
 'CUS_0x28d0',
 'CUS_0x8c2d',
 'CUS_0x87b8',
 'CUS_0x88f2',
 'CUS_0x5845',
 'CUS_0x3e9c',
 'CUS_0x97a0',
 'CUS_0x75f0',
 'CUS_0xc12e',
 'CUS_0x4ddb',
 'CUS_0x83cc',
 'CUS_0x9a7',
 'CUS_0x2ccb',
 'CUS_0x50ef',
 'CUS_0x411a',
 'CUS_0xa407',
 'CUS_0x4f32',
 'CUS_0x2f7a',
 'CUS_0xb122',
 'CUS_0x8a64',
 'CUS_0x7467',
 'CUS_0x47fa',
 'CUS_0x8998',
 'CUS_0x461',
 'CUS_0x8e1a',
 'CUS_0x7088',
 'CUS_0x5b61',
 'CUS_0x9d89',
 'CUS_0x98f6',
 'CUS_0x9f67',
 'CUS_0x9073',
 'CUS_0x3e5c',
 'CUS_0x1d79',
 'CUS_0x2a12',
 'CUS_0x78e8',
 'CUS_0x4797',
 'CUS_0x22bc',
 'CUS_0x1f66',
 'CUS_0xaffc',
 'CUS_0x3134',
 'CUS_0xb967',
 'CUS_0x5e44',
 'CUS_0x5c7f',
 'CUS_0x4fc9',
 'CUS_0x7cd3',
 'CUS_0xc2dd',
 'CUS_0x66bb',
 'CUS_0xa7ae',
 'CUS_0x65d0',
 'CUS_0x14a3',
 'CUS_0x9117',
 'CUS_0x87ee',
 'CUS_0x5fe3',
 'CUS_0x4aee',
 'CUS_0x23e2',
 'CUS_0x76ca',
 'CUS_0x9f95',
 'CUS_0x796e',
 'CUS_0xb867',
 'CUS_0xbc4c',
 'CUS_0x59f5',
 'CUS_0x4866',
 'CUS_0x457e',
 'CUS_0xc524',
 'CUS_0xa08e',
 'CUS_0x17b0',
 'CUS_0x2825',
 'CUS_0xa453',
 'CUS_0xc064',
 'CUS_0x3c82',
 'CUS_0x4845',
 'CUS_0x85a0',
 'CUS_0x460d',
 'CUS_0xa2fd',
 'CUS_0xbc33',
 'CUS_0x7cb9',
 'CUS_0x1be0',
 'CUS_0x6e13',
 'CUS_0x6cd4',
 'CUS_0x96f7',
 'CUS_0xbd23',
 'CUS_0x5fd4',
 'CUS_0x28a3',
 'CUS_0x63ec',
 'CUS_0x846e',
 'CUS_0xa350',
 'CUS_0x6c8b',
 'CUS_0xa2b2',
 'CUS_0x37e1',
 'CUS_0xab18',
 'CUS_0xc2a6',
 'CUS_0x7430',
 'CUS_0x3655',
 'CUS_0xc15d',
 'CUS_0x7840',
 'CUS_0x178b',
 'CUS_0x8519',
 'CUS_0xa5f',
 'CUS_0x281d',
 'CUS_0x53c0',
 'CUS_0x32ba',
 'CUS_0xb615',
 'CUS_0x5430',
 'CUS_0x6d41',
 'CUS_0xa6d9',
 'CUS_0x8175',
 'CUS_0x9150',
 'CUS_0x7963',
 'CUS_0xa50e',
 'CUS_0x18e1',
 'CUS_0xa8d6',
 'CUS_0x2b61',
 'CUS_0x82cb',
 'CUS_0x8da2',
 'CUS_0xb971',
 ...]

In [88]:
for id in Type_of_Loan_Customer_ID_list:
    df.loc[df['Customer_ID'] == id, 'Type_of_Loan'] = df['Type_of_Loan'].mode().iloc[0]

In [89]:
for t1 in temp1:
    print( str(df[t1].isna().sum()) + ' = ' + t1 )

0 = Monthly_Inhand_Salary
0 = Type_of_Loan
0 = Num_of_Delayed_Payment
0 = Credit_Mix
0 = Credit_History_Age
0 = Payment_of_Min_Amount
0 = Monthly_Balance

In [90]:
df.head(30)

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.642682,Low_spent_Small_value_payments,186.266702
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380,High_spent_Medium_value_payments,361.444004
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,22 Years and 10 Months,No,49.574949,148.233938,Low_spent_Medium_value_payments,264.675446
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.082511,High_spent_Medium_value_payments,343.826873
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018,High_spent_Large_value_payments,485.298434
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.627369,Low_spent_Large_value_payments,303.355083
6,0x1618,CUS_0x21b1,November,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.996424,27 Years and 5 Months,No,18.816215,72.680145,High_spent_Large_value_payments,452.302307
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.534488,High_spent_Large_value_payments,421.447964
8,0x1622,CUS_0x2dbc,September,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.229707,18 Years and 5 Months,No,246.992319,397.503654,Low_spent_Medium_value_payments,854.226027
9,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.615131,Low_spent_Large_value_payments,788.114550
10,0x1624,CUS_0x2dbc,November,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,5.0,Good,1303.01,31.819845,18 Years and 7 Months,No,246.992319,841.232236,Low_spent_Medium_value_payments,410.497445
11,0x1625,CUS_0x2dbc,December,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,5.0,Good,1303.01,33.707169,18 Years and 5 Months,No,246.992319,506.307780,High_spent_Medium_value_payments,715.421901
12,0x162e,CUS_0xb891,September,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,4.0,Good,632.46,39.377219,17 Years and 11 Months,No,16.415452,69.107006,High_spent_Medium_value_payments,425.726626
13,0x162f,CUS_0xb891,October,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,4.0,Good,632.46,36.280475,18 Years and 0 Months,No,16.415452,29.393311,High_spent_Large_value_payments,455.440320
14,0x1630,CUS_0xb891,November,Jasond,55,072-31-6145,Entrepreneur,30689.89,2612.490833,2,...,4.0,Good,632.46,36.824468,18 Years and 1 Months,No,16.415452,191.886244,Low_spent_Medium_value_payments,332.947388
15,0x1631,CUS_0xb891,December,Jasond,55,072-31-6145,Entrepreneur,4148862.00,2612.490833,2,...,7.0,Good,632.46,35.579265,18 Years and 2 Months,No,16.415452,233.933417,Low_spent_Small_value_payments,300.900215
16,0x163a,CUS_0x1cdb,September,Deepaa,22,615-06-7821,Developer,35547.71,2853.309167,7,...,4.0,Standard,943.86,34.729842,31 Years and 4 Months,Yes,0.000000,59.366058,High_spent_Medium_value_payments,475.964859
17,0x163b,CUS_0x1cdb,October,Deepaa,22,615-06-7821,Developer,35547.71,2853.309167,7,...,5.0,Standard,943.86,31.652351,31 Years and 5 Months,Yes,0.000000,113.452656,High_spent_Medium_value_payments,421.878260
18,0x163c,CUS_0x1cdb,November,Deepaa,22,615-06-7821,Developer,35547.71,2853.309167,7,...,5.0,Standard,943.86,36.424835,31 Years and 4 Months,Yes,0.000000,46.564575,High_spent_Medium_value_payments,488.766341
19,0x163d,CUS_0x1cdb,December,Deepaa,22,615-06-7821,Developer,35547.71,2853.309167,7,...,5.0,Standard,943.86,29.566123,31 Years and 7 Months,Yes,0.000000,181.007217,Low_spent_Small_value_payments,394.323700
20,0x1646,CUS_0x95ee,September,Np,31,612-70-8987,Lawyer,73928.46,5988.705000,4,...,4.0,Good,548.20,38.135424,32 Years and 7 Months,No,0.000000,56.121024,High_spent_Large_value_payments,782.749476
21,0x1647,CUS_0x95ee,October,Np,32,612-70-8987,Lawyer,73928.46,5988.705000,4,...,4.0,Good,548.20,38.226475,32 Years and 8 Months,No,0.000000,160.244313,High_spent_Small_value_payments,698.626187
22,0x1648,CUS_0x95ee,November,Np,1694,612-70-8987,Lawyer,73928.46,5988.705000,4,...,4.0,Good,548.20,31.291849,32 Years and 9 Months,No,0.000000,105.748063,High_spent_Large_value_payments,733.122437
23,0x1649,CUS_0x95ee,December,Np,32,612-70-8987,Lawyer,73928.46,5988.705000,4,...,1552.0,Good,548.20,29.150995,32 Years and 10 Months,No,0.000000,130.873964,High_spent_Large_value_payments,707.996536
24,0x1652,CUS_0x284a,September,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,4.0,Good,352.16,28.401058,31 Years and 4 Months,No,911.220179,324.228639,High_spent_Medium_value_payments,912.405089
25,0x1653,CUS_0x284a,October,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,4.0,Good,352.16,31.025571,31 Years and 4 Months,No,911.220179,966.074336,Low_spent_Large_value_payments,290.559392
26,0x1654,CUS_0x284a,November,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,4.0,Good,352.16,26.066640,31 Years and 5 Months,No,911.220179,1141.220313,Low_spent_Medium_value_payments,125.413415
27,0x1655,CUS_0x284a,December,Nadiaq,34,411-51-0676,Lawyer,131313.40,10469.207759,0,...,4.0,Good,352.16,34.665593,31 Years and 6 Months,No,911.220179,555.847988,Low_spent_Medium_value_payments,710.785740
28,0x165e,CUS_0x5407,September,Annk,30,500-92-6408,Media_Manager,34081.38,2611.115000,8,...,9.0,Standard,1704.18,38.477444,15 Years and 3 Months,Yes,70.478333,315.366801,Low_spent_Small_value_payments,165.266367
29,0x165f,CUS_0x5407,October,Annk,30,500-92-6408,Media_Manager,34081.38,2611.115000,8,...,9.0,Standard,1704.18,38.368682,15 Years and 4 Months,Yes,70.478333,112.906353,High_spent_Small_value_payments,337.726814

In [91]:
df.describe()

,Age,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Num_of_Loan,Delay_from_due_date,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Total_EMI_per_month,Amount_invested_monthly,Monthly_Balance
count,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,50000.000000,5.000000e+04
mean,118.994420,1.663342e+05,4181.292433,16.838260,22.921480,68.772640,11.299360,21.080880,29.645372,10.456753,29.603340,1426.220376,32.279581,1491.304305,621.096362,4.000000e+22
std,678.133254,1.351965e+06,3173.165246,116.396848,129.314804,451.602363,65.483498,14.820308,213.674727,6.654112,194.963101,1155.134801,5.106238,8595.647887,2018.198251,3.651301e+24
min,14.000000,7.005930e+03,303.645417,-1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.230000,20.509652,0.000000,0.000000,1.034022e-01
25%,25.000000,1.945333e+04,1623.583854,3.000000,4.000000,8.000000,2.000000,10.000000,9.000000,5.360000,4.000000,566.072500,28.061040,32.222388,72.512866,2.696768e+02
50%,34.000000,3.757782e+04,3083.893333,6.000000,5.000000,13.000000,3.000000,18.000000,14.000000,9.410000,7.000000,1166.155000,32.280390,74.733349,132.152688,3.363585e+02
75%,43.000000,7.281702e+04,5936.446667,7.000000,7.000000,20.000000,6.000000,28.000000,18.000000,14.800000,10.000000,1945.962500,36.468591,176.157491,258.987347,4.700066e+02
max,8688.000000,2.413726e+07,15204.633333,1798.000000,1499.000000,5799.000000,1496.000000,67.000000,4399.000000,36.650000,2593.000000,4998.070000,48.540663,82398.000000,10000.000000,3.333333e+26

In [92]:
df.describe(include=['O'])

,ID,Customer_ID,Month,Name,SSN,Occupation,Type_of_Loan,Credit_Mix,Credit_History_Age,Payment_of_Min_Amount,Payment_Behaviour
count,50000,50000,50000,50000,50000,50000,50000,50000,50000,50000,50000
unique,50000,12500,4,10140,12500,15,6260,3,399,2,6
top,0x160a,CUS_0xd40,September,Langep,821-00-0265,Lawyer,Not Specified,Standard,20 Years and 1 Months,Yes,Low_spent_Small_value_payments
freq,1,4,12500,24,4,3548,6408,22980,286,29720,13363

In [93]:
df.isna().sum()

ID                          0
Customer_ID                 0
Month                       0
Name                        0
Age                         0
SSN                         0
Occupation                  0
Annual_Income               0
Monthly_Inhand_Salary       0
Num_Bank_Accounts           0
Num_Credit_Card             0
Interest_Rate               0
Num_of_Loan                 0
Type_of_Loan                0
Delay_from_due_date         0
Num_of_Delayed_Payment      0
Changed_Credit_Limit        0
Num_Credit_Inquiries        0
Credit_Mix                  0
Outstanding_Debt            0
Credit_Utilization_Ratio    0
Credit_History_Age          0
Payment_of_Min_Amount       0
Total_EMI_per_month         0
Amount_invested_monthly     0
Payment_Behaviour           0
Monthly_Balance             0
dtype: int64

In [94]:
df.columns

Index(['ID', 'Customer_ID', 'Month', 'Name', 'Age', 'SSN', 'Occupation',
       'Annual_Income', 'Monthly_Inhand_Salary', 'Num_Bank_Accounts',
       'Num_Credit_Card', 'Interest_Rate', 'Num_of_Loan', 'Type_of_Loan',
       'Delay_from_due_date', 'Num_of_Delayed_Payment', 'Changed_Credit_Limit',
       'Num_Credit_Inquiries', 'Credit_Mix', 'Outstanding_Debt',
       'Credit_Utilization_Ratio', 'Credit_History_Age',
       'Payment_of_Min_Amount', 'Total_EMI_per_month',
       'Amount_invested_monthly', 'Payment_Behaviour', 'Monthly_Balance'],
      dtype='object')

In [95]:
#added remaining columns to the 'temp' list
temp.append('Annual_Income')
temp.append('Age')
temp.append('Num_Bank_Accounts')
temp.append('Num_Credit_Card')
temp.append('Num_of_Loan')
temp.append('Total_EMI_per_month')
temp.append('Interest_Rate')

#temp.append('Outstanding_Debt')
# temp.append('Delay_from_due_date')
# temp.append('Credit_Utilization_Ratio')

#id, customerid, month, name, ['Num_of_Delayed_Payment','Num_Credit_Inquiries','Amount_invested_monthly','Payment_Behaviour','Monthly_Balance']

In [96]:
temp

['SSN',
 'Occupation',
 'Monthly_Inhand_Salary',
 'Type_of_Loan',
 'Num_of_Delayed_Payment',
 'Changed_Credit_Limit',
 'Num_Credit_Inquiries',
 'Credit_Mix',
 'Credit_History_Age',
 'Payment_of_Min_Amount',
 'Amount_invested_monthly',
 'Payment_Behaviour',
 'Monthly_Balance',
 'Annual_Income',
 'Age',
 'Num_Bank_Accounts',
 'Num_Credit_Card',
 'Num_of_Loan',
 'Total_EMI_per_month',
 'Interest_Rate']

In [97]:
most_common_values_temp = df.groupby('Customer_ID')[temp].agg(lambda x: x.mode().iloc[0] if not x.mode().empty else x.iloc[0])

def replace_nan_with_most_common_values_temp(col_name):
    df[col_name] = df['Customer_ID'].map(most_common_values_temp[col_name])

for t in temp:
    replace_nan_with_most_common_values_temp(t)

In [98]:
df.to_csv('credit-score-cleaned.csv', index=False)